<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{ fromOrder.id }}</span>
                <span>přesun kódu mezi objednávkami</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h6>Budou přesunuty tyto položky</h6>
    <ion-list no-lines no-margin mode="ios">
        <ion-item *ngFor="let item of itemList">
            <ion-label text-wrap><small>{{item.name}}</small></ion-label>
            <span item-end class='tag'>{{ item.qr }}</span>
        </ion-item>
    </ion-list>
    <h6>Z objednávky</h6>
    <div class='order-title'>#{{ fromOrder.id }} - {{ fromOrder.title }}</div>
    <h6>Do objednávky</h6>
    <div class='order-title'>#{{ toOrder.id }}&nbsp;{{ toOrder.title ? "- " + toOrder.title : "" }}</div>
</ion-content>
<ion-footer no-shadow>
    <button (click)="onConfirmClick()" [disabled]='loading' ion-button no-margin full color="primary" class="btnBottom">
        Přesunout kódy
    </button>
</ion-footer>
