page-transfer-codes-confirm {
    ion-item {
        line-height: 16px !important;
        min-height: 0!important;
        padding: 2px 0!important;
        .item-inner{
            padding-right: 0!important;
        }
        ion-label {
            margin: 0!important;
        }
    }
    .tag {
        text-align: center;
        border: 1px solid black;
        padding: 1px 6px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        background: #12b112;
    }
    .order-title{
        font-size: 16px;
    }
    ion-footer {
        button {
            height: 5.5rem!important;
        }
    }
}
