<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Noční trezory
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ng-container>
        <div class='night-vault__cols'>
            <div class='night-vault__item night-vault__item--date'>
                <div class='night-vault__label'>Od</div>
                <ion-datetime [(ngModel)]='dateFrom' (ionChange)="load()" displayFormat="DDD DD.MM.YYYY" [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='night-vault__date-icon'></fa-icon>
            </div>
            <div class='night-vault__item night-vault__item--date'>
                <div class='night-vault__label'>Do</div>
                <ion-datetime [(ngModel)]='dateTo' (ionChange)="load()" displayFormat="DDD DD.MM.YYYY" [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='night-vault__date-icon'></fa-icon>
            </div>
        </div>
    </ng-container>
    <div *ngIf='!items' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf='items && items.length === 0' margin padding text-center>
        Žádné záznamy
    </div>
    <ion-list class='list-log' no-lines no-margin>
        <ion-item *ngFor='let item of items' (click)='onItemClick(item)' class='item-log'>
            <ion-label text-wrap>
                <div class='item-log__title'>#{{ item.order_id }} {{ item.customer }}</div>
                <div class='item-log__label'>{{ item.date | date: 'E d.M.yyyy H:mm' | uppercase }}</div>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
