page-night-vault {
    .night-vault__cols {
        display: flex;
        padding: 8px;
        border-bottom: 1px solid $dark;
        background-color: #F4F4F2;
        >* {
            width: 50%;
        }
    }
    .night-vault__item {
        position: relative;
        height: 58px;
        padding: 0 8px;
        font-size: 15px;
        ion-datetime {
            position: relative;
            border: 1px solid $dark;
            border-radius: 3px;
            height: 40px;
            background-color: $white;
            // width: 150px;
            margin-left: 0;
            padding-right: 46px;
            color: $darker;
        }
    }
    .night-vault__label {
        font-weight: bold;
        margin-right: 12px;
        margin-left: 8px;
    }
    .night-vault__date-icon {
        font-size: 19px;
        position: absolute;
        top: 28px;
        right: 20px;
        color: $darker;
        pointer-events: none;
    }
    .list-log {
        margin-top: 3px;
        .item-log {
            padding-top: 5px;
            padding-bottom: 5px;
            .item-inner {
                padding-right: 0 !important;
            }
            &:nth-child(even) {
                background-color: $medium;
            }
            ion-label {
                margin-right: 0 !important;
            }
        }
        .item-log__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .item-log__label {
            color: $darker;
            font-size: 16px;
            padding-right: 16px;
        }
    }
}


body.dark{
    page-night-vault {
        .night-vault__cols {
            border-bottom: 1px solid $darker;
            background-color: $all-black;

        }
        .night-vault__item {

            ion-datetime {
                border: 1px solid $darker;

                background-color: $all-black;
                color: $dark;
            }
        }
        .night-vault__date-icon {
            color: $dark;
        }
        .list-log {
            .item-log {

                &:nth-child(even) {
                    background-color: $black;
                }

            }
            .item-log__label {
                color: $dark;}
        }
    }


}
