page-home-scan {
    div.scan-area {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .content-main {
        width: 100%;
        height: calc(100% - 56px);
    }
}
