<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Skenovat</span>
                <span *ngIf='mode==="byOrderId"'>ID objednávky</span>
                <span *ngIf='mode==="byProductId"'>Obj. dle ID produktu</span>
                <span *ngIf='mode==="itemDetail"'>Detail položky</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <camera-controls></camera-controls>
    <div class="content-main">
        <div #scanArea class="scan-area"></div>
        <div *ngIf="blink" class="blink"></div>
    </div>
</ion-content>
