page-login {
    ion-content.content {
        background-color: $light;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 26vh;

        .section-header__logo {
            width: 56px;
            height: 56px;
            margin-bottom: 16px;
        }

        .section-header__title {
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            font-family: $font-family-roboto-slab;
        }
    }

    .section-form__buttons {
        margin-top: 24px;

        button[outline] {
            background-color: $white;
        }
    }

    ion-input {
        background-color: $medium !important;

        .text-input {
            width: calc(100% - 27px);
        }
    }

    ion-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: $black;
    }
}


body.dark {
    page-login {
        ion-content.content {
            background-color: $black;

        }

        .section-header {

            .section-header__title {
                color: $white;

            }
        }

        .section-form__buttons {

            button[outline] {
                background-color: $darker;

            }
        }

        ion-input {
            background-color: $darker !important;
            color: $white

        }

        a {
            color: $white;

        }
    }

}
