<ion-content padding no-bounce>
    <ng-container *ngIf='loading'>
        <div margin padding text-center>
            <ion-spinner></ion-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf='!loading'>
        <section class='section-header'>
            <img class='section-header__logo' src='assets/imgs/icon-qr.png' />
            <div class='section-header__title'>BIOFILMS Order Scanner</div>
        </section>
        <section class='section-form'>
            <div class='form-item'>
                <label>Jméno</label>
                <ion-input [(ngModel)]="name" type="email"></ion-input>
            </div>
            <div class='form-item'>
                <label>Heslo</label>
                <ion-input [(ngModel)]="password" type="password"></ion-input>
            </div>
            <div class='section-form__buttons'>
                <button ion-button block margin-top (click)="login()" [disabled]='!(name && password) '>Přihlásit se</button>
                <button *ngIf="platform.is('ios')" ion-button block outline margin-top (click)="faceId()">Face ID</button>
            </div>
        </section>
    </ng-container>
</ion-content>
<ion-footer padding>
    <div *ngIf='!loading'><span>{{versionNumber}}</span> - <a (click)="openDownloadAppLink()">App download</a></div>
</ion-footer>
