<ion-header>
    <ion-navbar>
        <back-button></back-button>
        <ion-title>
            Objednávka #{{orderId}}
        </ion-title>
        <ion-buttons end>
            <button (click)='presentSecondaryActionSheet()' ion-button icon-only color='darker' class='menu-button'>
                <fa-icon [icon]="FaIcons.faEllipsisH"></fa-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf='!order' text-center margin padding>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="order">
        <ng-container *ngIf='!groupId'>
            <div class="empty-message" margin-vertical text-center>
                Žádné fakturační skupiny.
            </div>
        </ng-container>
        <ng-container *ngIf='groupId'>
            <div class="content-top" padding-horizontal>
                <div class="contacts">
                    <div class='contact'>
                        <div class='contact__left'>
                            <ng-container *ngIf='order'>
                                <div class='contact__title'>{{ order.project || order.customer }}</div>
                                <div class='contact__subtitle'>{{ order.project ? order.customer : '' }}</div>
                                <div class='contact__subtitle'>
                                    <div>{{ order.from | date:'E d.M. H:mm' | uppercase }} - {{ order.to | date:'E d.M. H:mm' | uppercase }} <span class='contact__note'>(výpůjční)</span></div>
                                    <div>{{ order.invoicedFrom | date:'E d.M. H:mm' | uppercase }} - {{ order.invoicedTo | date:'E d.M. H:mm' | uppercase }} <span class='contact__note'>(fakturační)</span></div>
                                </div>
                            </ng-container>
                        </div>
                        <div class='contact__right'>
                            <button (click)="onOrderInfoBtnClick()" ion-button clear class='contact__button'>
                            <img src='assets/imgs/info.png'/>
                        </button>
                            <button (click)="onContactBtnClick()" ion-button clear class='contact__button'>
                            <img src='assets/imgs/phone.png'/>
                        </button>
                        </div>
                    </div>
                </div>
                <div class='selects'>
                    <div (click)='presentGroupChangeActionSheet()' class='select-item'>
                        <div class='select-item__label'>Časový blok</div>
                        <div class='select-item__value select-item__value--small'>
                            <ng-container *ngIf='groupId === "sleep"'>Naskenované bez produktu</ng-container>
                            <ng-container *ngIf='group'>{{(group.bookedFrom | date:'E d.M. H:mm') | uppercase}} - {{(group.bookedTo | date:'E d.M. H:mm') | uppercase}}</ng-container>
                        </div>
                        <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
                    </div>
                    <div *ngIf='group' (click)='presentStatusChangeActionSheet()' class='select-item'>
                        <div class='select-item__label'>Stav</div>
                        <div class='select-item__value select-item__value--lowercase' [ngClass]="group.status === OrderStatus.LENT || group.status === OrderStatus.PART_LENT || group.status === OrderStatus.CONFLICT || group.status === OrderStatus.CREATED ? 'select-item__select--red' : ''">
                            {{group.status | orderStatus}}
                        </div>
                        <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
                    </div>
                    <div *ngIf='group' (click)='presentReadyChangeActionSheet()' class='select-item'>
                        <div class='select-item__label'>Připravenost</div>
                        <div class='select-item__value select-item__value--lowercase' [ngClass]="group.ready === OrderReadyStatus.READY ? '' : 'select-item__select--red'">
                            {{group.ready | orderReadyStatus}}
                        </div>
                        <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
                    </div>
                </div>
            </div>
            <div class='content-tabs'>
                <div (click)='searchActive = true' class='content-tabs__left'>
                    <ion-searchbar *ngIf='searchActive' (ionInput)="applySearchFilter()" [(ngModel)]="searchVal" placeholder="Vyhledat"></ion-searchbar>
                    <div *ngIf='!searchActive' class='content-tabs__title'>Položky</div>
                    <ion-icon class='content-tabs__icon' name='ios-search' [class.search-active]='searchActive'></ion-icon>
                </div>
                <div class='content-tabs__right'>
                    <div class="tabs-wrap" tappable>
                        <ion-segment [(ngModel)]="mode" color="dark" mode='md'>
                            <ion-segment-button value="forScan">
                                naskenované
                            </ion-segment-button>
                            <ion-segment-button value="all">
                                všechny
                            </ion-segment-button>
                        </ion-segment>
                    </div>
                </div>
            </div>
            <div>
                <div class="group">
                    <ion-list no-margin>
                        <ng-container *ngIf="mode === 'all'">
                            <div *ngIf='!group || !group.productTree.length' class="empty-message" margin-vertical text-center>
                                Žádné produkty.
                            </div>
                            <tree-list *ngIf='group && group.productTree.length' [tree]='group.productTree' (removeProduct)='onRemoveProductClicked($event)' (showProductItems)='onShowProductItemsClicked($event)' (productClick)='onAllSegmentProductClick($event)' [search]='searchVal'></tree-list>
                        </ng-container>
                        <ng-container *ngIf="mode === 'forScan'">
                            <div *ngIf="!forScanListFiltered || forScanListFiltered.length === 0" class="empty-message" margin-vertical text-center>
                                Žádné produkty.
                            </div>
                            <ng-container *ngFor="let product of forScanListFiltered; let odd = odd;">
                                <div (click)="onToggleExpandForScanProductClick(product)" class="forscan-item" [class.odd]='odd' [class.forscan-item--expanded]='expandedForScanProducts[product.productId]'>
                                    <ion-item no-lines no-padding text-wrap>
                                        <div class="forscan-item__content">
                                            <div class="forscan-item__left">
                                                <fa-icon *ngIf="!expandedForScanProducts[product.productId]" [icon]="FaIcons.faChevronRight" class='forscan-item__icon'></fa-icon>
                                                <fa-icon *ngIf="expandedForScanProducts[product.productId]" [icon]="FaIcons.faChevronDown" class='forscan-item__icon'></fa-icon>
                                                <div class="forscan-item__name">{{product.name}}</div>
                                            </div>
                                            <div class="forscan-item__right">
                                                <div class='forscan-item__counter' [ngClass]='!product.scannable || (product.scan === product.count) ? "forscan-item__counter--green" : product.scan > product.count ? "forscan-item__counter--red" : ""'>
                                                    {{ product.scannable ? product.scan + '/' + product.count : product.scan }}
                                                </div>
                                            </div>
                                        </div>
                                    </ion-item>
                                </div>
                                <!-- <ng-container > -->
                                <ng-container *ngIf="expandedForScanProducts[product.productId]">
                                    <div *ngFor="let _ of getForScanItemProductsArray(product); let i = index" class="forscan-item forscan-item--expaning" [class.odd]='odd'>
                                        <ion-item-sliding (click)='onForScanSegmentProductClick(product, i)' no-lines no-padding>
                                            <ion-item no-lines no-padding text-wrap>
                                                <div class="forscan-item__content">
                                                    <div class="forscan-item__left">
                                                        <div class="forscan-item__name">{{product.name}}</div>
                                                    </div>
                                                    <div class='forscan-item__right'>
                                                        <div *ngIf='product.qrCode[i]' class="forscan-item__tag">
                                                            {{ product.qrCode[i] }}
                                                        </div>
                                                        <div *ngIf='!product.qrCode[i]' class="forscan-item__circle">
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-item>
                                            <ion-item-options *ngIf='!product.qrCode[i]' (ionSwipe)='onRemoveSumQrTableProductClicked(product)' side="right">
                                                <button ion-button color="danger" (click)="onRemoveSumQrTableProductClicked(product, $event)">
                                                <fa-icon [icon]="FaIcons.faBan" class='forscan-item__sliding-icon'></fa-icon>
                                            </button>
                                            </ion-item-options>
                                        </ion-item-sliding>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ion-list>
                </div>
            </div>
        </ng-container>
    </div>
</ion-content>
<button (click)='presentMainActionSheet()' ion-button class='action-button'>
    <fa-icon [icon]="FaIcons.faQrcode"></fa-icon>
</button>
<div id='cupertino-pane' [style.visibility]='cupertinoReady ? "visible" : "hidden"'>
    <div *ngIf='order' class='order-info'>
        <div class='order-info__title'>
            #{{order.orderNumber}}
            <span *ngIf='order.customerOrderNumber'>&nbsp;({{order.customerOrderNumber}})</span>
        </div>
        <div class='order-info__items'>
            <div *ngFor='let contact of order.contacts' class='order-info__item order-info__item--flex'>
                <div>
                    <div class='order-info__label'>
                        {{ contact.role }}
                    </div>
                    <div class='order-info__value'>
                        {{ contact.name || '-' }}
                        <span *ngIf='contact.phone'>&nbsp;({{contact.phone}})</span>
                    </div>
                </div>
                <div>
                    <button *ngIf='contact.phone' (click)="call(contact.phone)" ion-button clear class='contact__button'>
                        <img src='assets/imgs/phone.png'/>
                    </button>
                </div>
            </div>
            <div class='order-info__item'>
                <div class='order-info__label'>
                    Název projektu
                </div>
                <div class='order-info__value'>
                    {{ order.project || '-' }}
                </div>
            </div>
            <div class='order-info__item'>
                <div class='order-info__label'>
                    Poznámka - interní
                </div>
                <div class='order-info__value'>
                    {{ order.internalNote || '-'}}
                </div>
            </div>
            <div class='order-info__item'>
                <div class='order-info__label'>
                    Poznámka od zákazníka
                </div>
                <div class='order-info__value'>
                    {{ order.customerNote || '-'}}
                </div>
            </div>
        </div>
    </div>
</div>
