page-order {
    .scroll-content {
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }

    .content-top {
        background-color: $medium;
        padding: 16px 0;
    }

    .contacts {
        margin-bottom: 14px;
    }

    .contact {
        display: flex;

        .contact__left {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contact__title {
            font-size: 16px;
            font-weight: bold;
        }

        .contact__subtitle {
            font-size: 12px;
            color: $darker;

            &:last-child {
                margin-top: auto;
            }
        }

        .contact__right {
            display: flex;
        }

        .contact__button {
            width: 46px;
            height: 46px;
            padding: 0;

            & + .contact__button {
                margin-left: 10px;
            }
        }

        .contact__note {
            font-size: 11px;
        }

        & + .contact {
            margin-top: 6px;
        }
    }

    ion-searchbar.searchbar-ios {
        border: 1px solid $dark;
        border-radius: 3px;
        margin-right: 10px;
    }

    ion-searchbar.searchbar-ios .searchbar-input {
        height: 44px !important;
        padding-left: 35px !important;
        padding-right: 30px !important;
    }

    #cupertino-pane {
        margin: 16px 16px 40px 16px;
    }

    .order-info {
        .order-info__title {
            font-size: 18px;
            margin-bottom: 14px;
            font-weight: bold;
        }

        .order-info__item {
            margin-bottom: 14px;

            &.order-info__item--flex {
                display: flex;
                justify-content: space-between;
            }
        }

        .order-info__label {
            font-size: 13px;
            margin-bottom: 5px;
            color: #6b6b6b;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .order-info__value {
            font-size: 16px;
        }

        button {
            position: relative;
            top: 8px;
            width: 39px;
            height: 39px;
            padding: 6px;
            margin: 0;
        }
    }
}

body.dark {
    page-order {
        .content-top {
            background-color: $all-black;
        }

        .contact {

            .contact__subtitle {
                color: $dark;

            }

        }

        ion-searchbar.searchbar-ios {
            border: 1px solid $dark;
        }

        .order-info {
            .order-info__label {
                color: $dark;
            }

            .order-info__title,
            .order-info__value {
                color: $white;

            }
        }
    }

}
