<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Produkty a sklad
        </ion-title>
        <ion-buttons end>
            <button (click)='onWikiButtonClick()' ion-button icon-only color='darker' class='menu-button'>
                <fa-icon [icon]="FaIcons.faEllipsisH"></fa-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='stock-title'>
        <div class='stock-title__left'>
            {{ stockSvc.activeProduct.name }}
        </div>
        <div *ngIf='items' class='stock-title__right'>
            {{items.length}}&nbsp;ks
        </div>
    </div>
    <div *ngIf='!items' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf='items' class='stock-list'>
        <stock-item *ngFor='let item of items; let i = index;' (titleClick)='onItemClick(item)' (edit)='onItemEdited($event)' (damaged)='onItemDamagedSet($event)' (insuranceEventState)='onItemInsuranceEventStateChange($event)' (discarded)='onItemDiscardedSet($event)'  (qr)='onScanClick($event, "qr")' (sn)='onScanClick($event, "sn")' (location)='onItemLocationChange($event)' mode='list' [item]='item' [index]='i'></stock-item>
    </div>
</ion-content>
<button (click)='onActionButtonClick()' ion-button class='action-button'>
    <fa-icon [icon]="FaIcons.faEdit"></fa-icon>
</button>
