page-stock-items {
    .scroll-content {
        background-color: $medium;
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }
    .stock-title {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 12px 16px 5px;
        font-size: 16px;
        .stock-title__left {
            font-weight: bold;
            padding-right: 16px;
            flex: 1;
        }
        .stock-title__right {
            color: $darker;
        }
    }
    .action-button {
        fa-icon {
            font-size: 36px;
            position: relative;
            right: -3px;
        }
    }
}
body.dark{
    page-stock-items {
        .scroll-content {
            background-color: $black;
        }
        .stock-title {

            .stock-title__right {
                color: $dark;
            }
        }

    }

}
