<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Seznam poznámek
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
            <div class='stock-item'>
                <div class='stock-detail__wrap'>
                    <div padding class='stock-detail__item stock-detail__item--new-item'>
                        <div class='stock-detail__label stock-detail__label--margin'>Přidat přílohu</div>
                            <div class="stock-detail__item-wrapp">
                                <label class="wiki__label">
                                    <button class="wiki__file-btn" block ion-button no-margin color='primary'>Přidat
                                        <input class="wiki__file-input" type="file" accept="image/jpeg" (change)="getFilesOnButtonClick($event)" multiple>
                                    </button>
                                    <div class="wiki__file-list-wrapper">
                                        <div *ngFor="let file of files">
                                            <div class="wiki__file-name">{{ file.name }}</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div class='stock-detail__item stock-detail__item--height stock-detail__item--new-item'>
                        <div class='stock-detail__label'>Napsat poznámku</div>
                        <ion-textarea [(ngModel)]="text"></ion-textarea>
                    </div>
                    <div padding>
                        <button [disabled]="text === ''" (click)='onSumbitButtonClick()' block ion-button no-margin color='primary'>Uložit záznam</button>
                    </div>
                </div>
            </div>
            <div *ngIf="wikiRecords">
                <div *ngFor="let record of wikiRecords.wiki; let wikiIndex = index" class='wiki'>
                    <div class='wiki__header'>
                        <div (click)="editWikiRecordButton(record.id)" class='wiki__text'>{{ record.text }}</div>
                        <button (click)='deleteWikiRecordEntry(record.id, wikiIndex, record.text)' ion-button item-end icon-only clear><ion-icon name="md-close"></ion-icon></button>
                    </div>
                    <div *ngIf="record.images && record.images.length > 0" (click)="editWikiRecordButton(record.id)" class="wiki__images-wrapper">
                        <ng-container *ngFor="let img of record.images">
                            <img [src]="img" class="wiki__images wiki__images--listing"/>
                        </ng-container>
                    </div>
                </div>
            </div>
</ion-content>

