.toolbar-ios {
    &--padding {
        padding: 0 80px 1px !important;
    }
}

wiki-record,
wiki-record-edit {
    .scroll-content {
        background-color: $medium;
        padding: 0 !important;
    }

    ion-textarea {
        resize: none !important;
        text-align: center;

        .text-input {
            height: 15rem;
            margin-bottom: 1rem !important;
            margin: 0;
            resize: none !important;
        }
    }

    .stock-detail {
        &__item {
            &--height {
                align-items: flex-start !important;
                height: 15rem !important;
                justify-content: center !important;
                padding-top: 1.25rem !important;
            }

            &--new-item {
                height: 100% !important;
            }
        }

        &__label {
            &--margin {
                margin-right: 3.7rem !important;
                white-space: nowrap;
            }
        }

        &__item-wrapp {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

.wiki {
    background-color: $white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__text {
        color: $darker;
        font-size: 15px;
        padding-top: 16px;
    }

    &__images-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4px;

        &--listing {
            height: 10rem;
            object-fit: cover;
            width: 10rem;
        }

        &--editation {
            margin-bottom: 1rem !important;
            padding: 0 0.5rem !important;
        }
    }

    &__label {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__file-input {
        opacity: 0;
        position: absolute !important;
        right: 0;
        top: 0;
    }

    &__file-btn {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50%;
    }

    &__file-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-top: 1rem;
    }

    &__file-name {
        display: inline-block;
        font-weight: 400;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 20rem;
    }
}

body.dark {
    .toolbar-ios {
        &--padding {
            padding: 0 80px 1px !important;
        }
    }

    wiki-record,
    wiki-record-edit {
        .scroll-content {
            background-color: $all-black;
        }
    }

    .wiki {
        background-color: $all-black;

        &__text {
            color: $dark;
        }
    }
}
