<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{ orderId }}</span>
                <span>přesun kódu mezi objednávkami</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <div *ngIf='loading' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <ng-container *ngIf='!loading'>
        <ion-select [(ngModel)]="selectedGroupId" (ionChange)='onSelectedGroupChange()' mode="ios" margin-horizontal [selectOptions]="{title:'Vyberte časový blok'}" cancelText='Zrušit'>
            <ion-option *ngFor="let groupId of groupIds" [value]="groupId">
                <span>{{sumQrTable.groups[groupId].from | date:'E d.M. H:mm' | uppercase}}&nbsp;</span><span>- {{sumQrTable.groups[groupId].to | date:'E d.M. H:mm' | uppercase}}</span>
            </ion-option>
        </ion-select>
        <button ion-button margin-left margin-bottom small (click)='onToggleSelectAll()'>{{ itemList.length && selectedCount === itemList.length ? "Zrušit vše" : "Vybrat vše" }}</button>
        <ion-list no-lines mode="ios">
            <ion-item *ngIf='!itemList.length' text-center><small>Žádné QR kódy</small></ion-item>
            <ion-item *ngFor="let item of itemList">
                <ion-checkbox [(ngModel)]='item.checked' (ionChange)='onCheckboxChange()' item-start></ion-checkbox>
                <ion-label text-wrap><small>{{item.name}}</small></ion-label>
                <span item-end class='tag'>{{ item.qr }}</span>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
<ion-footer no-shadow>
    <button (click)="onContinueClick()" [disabled]='selectedCount === 0' ion-button no-margin full color="primary" class="btnBottom" >
        Vybrat objednávku
    </button>
</ion-footer>
