page-transfer-codes-select {
    ion-select {
        position: relative;
        border: 1px solid black;
        height: 42px;
        padding: 11px 8px !important;
        opacity: 1;
        max-width: 100%;
        margin-bottom: 8px;
        background-color: white;

        .select-text {
            line-height: 19px;
            font-size: 16px;
        }
    }

    ion-item {
        border-top: 1px solid black !important;
        line-height: 16px !important;
        background-color: $white !important;
        color: $darker !important;
    }

    .tag {
        text-align: center;
        border: 1px solid black;
        padding: 1px 6px;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        background: #12b112;
    }

    ion-footer {
        button {
            height: 5.5rem !important;
        }
    }
}


body.dark {
    page-transfer-codes-select {

        ion-item {
            background-color: $black !important;
            color: $white !important;
        }
    }
}
