<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Produkty a sklad
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content [class.hide-overflow]="noteOverlayActive">
    <note-overlay *ngIf='noteOverlayActive' (close)='noteOverlayActive=false' (save)='saveNote($event)'></note-overlay>
    <div class='stock-title'>
        <div class='stock-title__left'>
          {{ stockSvc.activeProduct.name }}
        </div>
    </div>
    <div *ngIf='!item' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf='item' class='stock-list'>
        <stock-item mode='detail' [item]='item' (edit)='onItemEdited($event)' (damaged)='onItemDamagedSet($event)' (insuranceEventState)='onItemInsuranceEventStateChange($event)' (discarded)='onItemDiscardedSet($event)' (location)='onItemLocationChange($event)' (qr)='onScanClick($event, "qr")' (sn)='onScanClick($event, "sn")'></stock-item>
    </div>
    <div *ngIf='!noteSvc.notes' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf='noteSvc.notes && !noteSvc.notes.length' padding margin text-center>Žádné poznámky</div>
    <div class='stock-note-list'>
        <div *ngFor="let note of noteSvc.notes" class='stock-note'>
            <div class='stock-note__header'>
                <div class='stock-note__header-left'>
                    <span class='stock-note__header-author'>
                        {{ note.username }}
                    </span>
                    <span class='stock-note__header-date'>
                        ({{ note.created.timestamp | date:'E d.M.yyyy HH:mm' | uppercase }})
                    </span>
                </div>
                <div class='stock-note__header-right'>
                    <button (click)='onRemoveNoteClick(note.id)' ion-button clear icon-only color='darker' class='stock-note__header-button'>
                        <ion-icon name='md-close'></ion-icon>
                    </button>
                </div>
            </div>
            <div *ngIf='note.qnt_note_name' class='stock-note__tag'>{{ note.qnt_note_name }}</div>
            <div class='stock-note__text'>{{ note.comment }}</div>
            <div *ngIf="note.qr_time_control" class='stock-note__text'>{{ note.qr_time_control.timestamp | date:'d.M.yyyy HH:mm' | uppercase  }}</div>
            <div *ngIf='note.images.length' class='stock-note__images'>
                <img *ngFor='let image of note.images' (click)='onImageClick(image.fullSize)' class='stock-note__image' [src]='image.thumbs' />
            </div>
        </div>
    </div>
</ion-content>
<button *ngIf='!noteOverlayActive' (click)='onActionButtonClick()' ion-button class='action-button'>
    <fa-icon [icon]="FaIcons.faEdit"></fa-icon>
</button>
