page-stock-detail {
    ion-content.hide-overflow .scroll-content {
        overflow: hidden;
    }

    .scroll-content {
        background-color: $medium;
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }

    .stock-title {
        display: flex;
        height: 60px;
        align-items: center;
        padding: 12px 16px 13px;
        font-size: 16px;

        .stock-title__left {
            font-weight: bold;
            padding-right: 16px;
            flex: 1;
        }

        .stock-title__right {
            color: $darker;
        }
    }

    .action-button {
        fa-icon {
            font-size: 36px;
            position: relative;
            right: -3px;
        }
    }

    .stock-note-list {
        padding: 16px;
    }

    .stock-note {
        & + .stock-note {
            margin-top: 16px;
        }

        padding: 16px;
        background-color: white;
        border-radius: 3px;
        position: relative;

        .stock-note__header {
            display: flex;
        }

        .stock-note__header-left {
            flex: 1;
            align-items: center;
            font-size: 15px;
            padding-right: 50px;
        }

        .stock-note__header-author {
            font-weight: bold;
        }

        .stock-note__header-date {
            color: $darker;
            padding-left: 8px;
        }

        .stock-note__header-button {
            font-size: 14px;
            position: absolute;
            top: 4px;
            font-weight: 500;
            right: 4px;
            margin: 0;
        }

        .stock-note__tag {
            padding: 4px 8px;
            background-color: gray;
            color: white;
            display: inline-block;
            margin-top: 3px;
        }

        .stock-note__text {
            color: $darker;
            font-size: 15px;
            padding-top: 16px;
        }

        .stock-note__images {
            display: flex;
            flex-wrap: wrap;
            padding-top: 4px;
        }

        .stock-note__image {
            margin-right: 12px;
            margin-top: 12px;
            width: 60px;
            height: 80px;
            object-fit: cover;
        }
    }
}

body.dark {
    page-stock-detail {
        .scroll-content {
            background-color: $all-black;
        }

        .stock-title {
            .stock-title__right {
                color: $dark;
            }
        }

        .stock-note {
            background-color: $all-black;

            .stock-note__header-date {
                color: $dark;
            }

            .stock-note__text {
                color: $dark;
            }

        }
    }
}
