camera-controls {
    background-color: $medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid $dark!important;
    zoom-range {
        flex: 1;
        position: static;
    }
    .camera-controls__buttons {
        margin-left: 26px;
        padding-right: 8px;
        button {
            width: 46px;
            font-size: 24px;
            margin: 0;
            overflow: visible;
            contain: none;
            img {
                width: 30px;
                height: 24px;
            }
            .camera-name {
                position: absolute;
                bottom: 7px;
                left: 50%;
                text-align: center;
                font-size: 10px;
                color: $darker;
                transform: translateX(-50%);
                z-index: 2;
                pointer-events: none;
            }
            .cross-line {
                position: absolute;
                height: 2px;
                width: 31px;
                background-color: black;
                transform: rotate(45deg);
                border-radius: 2px;
                z-index: 2;
            }
        }
    }
}

body.dark{
    camera-controls {
        background-color: $darker;

        border-bottom: 1px solid $dark !important;

        .camera-controls__buttons {
            button {

                .camera-name {
                    color: $black;
                }

            }
        }
    }

}
