<zoom-range></zoom-range>
<div class='camera-controls__buttons'>
    <button (click)='onToggleCameraClick()' ion-button icon-only clear color='black'>
            <img src='assets/imgs/icon-camera.png'/>
            <div class='camera-name'>{{ scannerSvc.currentCamera.toUpperCase() }}</div>
        </button>
    <button (click)='onToggleFlashClick()' ion-button icon-only clear color='black'>
            <fa-icon [icon]="FaIcons.faBolt"></fa-icon>
            <div *ngIf='scannerSvc.flashlightOn' class='cross-line'></div>
    </button>
</div>
