page-stock-list {
    .scroll-content {
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }

    .content-top {
        background-color: $medium;
        padding: 16px 0;

        .selects {
            margin-bottom: 8px;
        }
    }
}

body.dark {
    page-stock-list {
        .content-top {
            background-color: $black;
        }
    }
}
