<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Produkty a sklad
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="content-top" padding-horizontal>
        <!-- <div class='selects'>
            <div class='select-item'>
                <div class='select-item__label'>Kategorie</div>
                <ion-select class='select-item__select' [(ngModel)]='category' interface='action-sheet' [selectOptions]='selectOptions' cancelText='Zrušit'>
                </ion-select>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
        </div> -->
        <div class='form-item form-item--with-icon'>
            <ion-icon name='ios-search' color='black'></ion-icon>
            <ion-searchbar #search placeholder="Hledat"></ion-searchbar>
        </div>
    </div>
    <div class='content-tabs'>
        <div class='content-tabs__left'>
            <div class='content-tabs__title'>Produkty</div>
        </div>
    </div>
    <div class="content-bottom" padding-bottom>
        <ion-list no-margin no-lines class='list-all'>
            <div *ngIf='!filteredItems' margin padding text-center>
                <ion-spinner></ion-spinner>
            </div>
            <div *ngIf="filteredItems && filteredItems.length === 0" class="empty-message" margin-vertical text-center>
                Žádné produkty.
            </div>
            <ng-container *ngFor="let item of renderedItems; let odd = odd;">
                <div (click)="onItemClick(item)" class="forscan-item" [class.odd]='odd'>
                    <ion-item no-lines no-padding text-wrap>
                        <div class="forscan-item__content">
                            <div class="forscan-item__left">
                                <div class="forscan-item__name">{{item.name}}</div>
                            </div>
                            <div class="forscan-item__right">
                                <fa-icon [icon]="FaIcons.faChevronRight" class='forscan-item__icon'></fa-icon>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ng-container>
        </ion-list>
    </div>
    <ion-infinite-scroll *ngIf='filteredItems?.length > renderedItems?.length' (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
