<ion-header>
    <ion-navbar class="toolbar-ios--bordered">
        <back-button></back-button>
        <ion-title>
            <div>
                <div class="two-line-title">
                    <span>Nevrácené položky</span>
                    <span>Přidejte poznámku</span>
                </div>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="stock-item">
        <div class="stock-detail__wrap">
            <div class="stock-detail__item stock-detail__item--radios">
                <div class="stock-detail__label">Vyberte ze seznamu</div>
                <ion-list radio-group [(ngModel)]="selectedOptionId">
                    <ion-item *ngFor="let id of noteOptionIds" text-wrap>
                        <ion-label>{{noteOptions[id]}}</ion-label>
                        <ion-radio [value]="id"></ion-radio>
                    </ion-item>
                </ion-list>
            </div>
            <div class="stock-detail__item stock-detail__item--textarea">
                <div class="stock-detail__label">Vlastní poznámka</div>
                <ion-textarea [(ngModel)]="customNote" rows="4"> </ion-textarea>
            </div>
            <div padding>
                <button
                    block
                    ion-button
                    no-margin
                    color="primary"
                    (click)="onConfirmClick()"
                    [disabled]="!customNote && !selectedOptionId"
                >
                    Uložit
                </button>
                <button
                    block
                    ion-button
                    color="danger-dark"
                    (click)="onCancelClick()"
                >
                    Zrušit přidávání do nevrácených
                </button>
            </div>
        </div>
    </div>
</ion-content>
