unreturned-note-modal {
    .scroll-content {
        background: white;
    }
    .stock-detail__wrap {
        display: flex;
        flex-direction: column;
        max-height: calc(
            100vh - 56px - env(safe-area-inset-bottom) -
                env(safe-area-inset-top)
        );
    }
    .stock-detail__item--radios {
        overflow: auto;
        flex: 1;
    }
}

body.dark{
    unreturned-note-modal {
        .scroll-content {
            background: $all-black;
        }
    }

}
