<ion-header>
    <ion-navbar class="toolbar-ios--bordered">
        <back-button></back-button>
        <ion-title>Vytvořit objednávku</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="stock-item">
        <div class="stock-detail__wrap">
            <div class="stock-detail__item stock-detail__item--date">
                <div class="stock-detail__label">Datum a čas od</div>
                <ion-datetime
                    [(ngModel)]="createOrderService.form.dateFrom"
                    min="2022"
                    max="2050"
                    displayFormat="DDD DD.MM.YYYY H:mm"
                    [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'
                    doneText="Hotovo"
                    cancelText="Zrušit"
                ></ion-datetime>
                <fa-icon
                    [icon]="FaIcons.faCalendarAlt"
                    class="stock-detail__date-icon"
                ></fa-icon>
            </div>
            <div class="stock-detail__item stock-detail__item--date">
                <div class="stock-detail__label">Datum a čas do</div>
                <ion-datetime
                    [(ngModel)]="createOrderService.form.dateTo"
                    min="2022"
                    max="2050"
                    displayFormat="DDD DD.MM.YYYY H:mm"
                    [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'
                    doneText="Hotovo"
                    cancelText="Zrušit"
                ></ion-datetime>
                <fa-icon
                    [icon]="FaIcons.faCalendarAlt"
                    class="stock-detail__date-icon"
                ></fa-icon>
            </div>
            <div class="stock-detail__item stock-detail__item--with-icon">
                <div class="stock-detail__label">QR kód produktu</div>
                <ion-input
                    [(ngModel)]="createOrderService.form.qrCode"
                ></ion-input>
                <fa-icon
                    (click)="onQrClick()"
                    [icon]="FaIcons.faQrcode"
                    class="stock-detail__icon"
                ></fa-icon>
            </div>
            <div padding>
                <button
                    (click)="onSubmitFormClick()"
                    block
                    ion-button
                    no-margin
                    color="primary"
                >
                    Uložit
                </button>
            </div>
        </div>
    </div>
</ion-content>
