page-create-order {
    .scroll-content {
        background-color: $medium;
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }
    .stock-item .stock-detail__item ion-datetime {
        width: 210px;
    }
}

body.dark{
    page-create-order {
        .scroll-content {
            background-color: $all-black;
        }
    }

}
