page-inventory-scan {
    div.scan-area {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    ion-select {
        position: relative;
        border: 1px solid black;
        margin: 10px;
        max-width: 100%;
        background: white;

        .select-icon {
            margin-top: -2px !important;
        }

        .select-text {
            line-height: 20px;
        }
    }

    .scan-status-indicator {
        border: 1px solid black;
        min-width: 23px;
        padding: 0 3px;
        min-height: 23px;
        background-color: rgb(0, 247, 0);
        color: black;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }

    .scan-status-preview {
        position: absolute;
        bottom: 0;
        left: 16px;
        width: calc(100% - 32px);
        border: 1px solid black;
        border-width: 1px 1px 0 1px;
        background: white;
        padding: 10px 16px 4px 16px;
        opacity: 1;
        transition: opacity 0.25s;
        z-index: 2;

        .scan-status-preview-list {
            display: flex;
            flex-wrap: wrap;
            padding-top: 8px;

            .scan-status-indicator {
                margin: 0 12px 12px 0;
            }
        }
    }

    focus-mode-toggle {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    zoom-range {
        top: 30px;
        bottom: unset;
    }
}

body.dark {
    page-inventory-scan {
        ion-select {
            background: $all-black;
        }

        .scan-status-indicator {
            border: 1px solid $black;

        }

        .scan-status-preview {
            border: 1px solid $black;
            background: $all-black;
        }

    }

}
