<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Nová inventura</span>
                <span>Naskenujte produkty</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="scan-area">
        <focus-mode-toggle></focus-mode-toggle>
        <zoom-range></zoom-range>
        <div class="scan-status-preview">
            <div *ngFor="let product of inventory.selectedProducts" class="preview-group">
                <div class="scan-status-preview-title">
                    <span>{{ product.name }}</span>
                </div>
                <div class="scan-status-preview-list">
                    <div *ngFor="let item of inventory.scannedItems[product.productId]" class="scan-status-indicator">{{ item }}</div>
                </div>
            </div>
        </div>
        <div *ngIf="blink" class="blink"></div>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" [disabled]="getTotalScannedCount() === 0" (click)="onContinueClick()">
                Pokračovat
    </button>
</ion-footer>
