page-scan {
    div.scan-area {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .content-main {
        width: 100%;
        height: calc(100% - 56px);
    }

    .items {
        position: absolute;
        transform: translate3d(0, calc(100% - 50px), 0);
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 24px);
        border-top: 1px solid $dark;
        background: white;
        transition: transform 0.25s;
        overflow: hidden;

        ion-scroll {
            height: calc(100% - 72px);
        }

        &.list-details-visible-partial {
            ion-scroll {
                height: 124px;
            }
        }
    }

    .items .scroll-content {
        overflow-y: auto;
    }

    .scan-status-preview {
        position: relative;
        background: white;
        padding: 16px 16px 11px 16px;
        opacity: 1;
        transition: opacity 0.25s;
        z-index: 2;

        .scan-status-preview-title {
            padding-top: 7px;

            ion-select {
                margin: 0;
            }
        }

        .scan-status-border {
            position: absolute;
            bottom: -15px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            height: 15px;
            width: 100%;
            left: 0;
        }

        .scan-status-counter {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-right: 36px;
            align-items: center;

            .scan-status-counter_label {
                font-size: 15px;
            }

            .scan-status-counter_counter {
                font-size: 22px;
                font-weight: bold;

                &.green {
                    color: $success;
                }

                &.red {
                    color: $danger;
                }
            }

            .scan-status-counter_loader {
                position: absolute;
                right: 46px;
                top: 16px;
            }
        }

        .list-details-hide-button {
            position: absolute;
            right: 2px;
            top: 7px;
            height: 44px;
            width: 44px;
            padding: 5px;
            margin: 0;
            z-index: 3;
            font-size: 18px;
        }
    }

}

body.dark {
    page-scan {
        div.scan-area {

        }

        .items {
            background: $all-black;
            border-color: $black;
        }

        .scan-status-preview {
            background: $all-black;

            .scan-status-border {
                background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

            }
        }
    }
}
