<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button (click)="isItemRejected()"></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{ orderCode }}</span>
                <span *ngIf='mode==="borrow"'>Skenování - výdej</span>
                <span *ngIf='mode==="return"'>Skenování - příjem</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <camera-controls></camera-controls>
    <div class="content-main">
        <div #scanArea class="scan-area">
            <!-- <div [hidden]='!inputModeReaderEnabled' class='reader-input'>
                <ion-input [ngModel]='readerInputValue' readonly></ion-input>
            </div> -->
            <div #drawer class="items" [class.list-details-visible-full]="listDetailsPosition ==='full'" [class.list-details-visible-partial]="listDetailsPosition ==='partial'" (touchmove)='onDrawerMouseMove($event)' (touchend)='onDrawerMouseUp($event)'>
                <div class="scan-status-preview" [class.list-details-visible-full]="listDetailsPosition ==='full'" [class.list-details-visible-partial]="listDetailsPosition ==='partial'">
                    <div class='scan-status-counter'>
                        <div class='scan-status-counter_label'>
                            {{ mode === 'borrow' ? 'Položek k naskenování' : '' }} {{ mode === 'return' ? 'Položek k odskenování' : '' }}
                        </div>
                        <div class='scan-status-counter_counter' [ngClass]='getCounterClass()'>
                            {{ getCounterText() }}
                        </div>
                        <div class='scan-status-counter_loader' [ngClass]='getCounterClass()'>
                            <ion-spinner *ngIf='addItemInProgress'></ion-spinner>
                        </div>
                    </div>
                    <div class='scan-status-border'></div>
                    <button (click)="toggleStatusDetailsVisible()" class="list-details-hide-button" ion-button icon-only clear color='darker'>
                        <fa-icon *ngIf="listDetailsPosition === 'full'" [icon]="FaIcons.faChevronDown"></fa-icon>
                        <fa-icon *ngIf="listDetailsPosition !== 'full'" [icon]="FaIcons.faChevronUp"></fa-icon>
                    </button>
                </div>
                <ion-scroll direction='y' (touchmove)='$event.stopPropagation()' (touchend)='$event.stopPropagation()'>
                    <ion-list no-margin no-padding>
                        <ng-container *ngFor="let item of itemList; let odd = odd;">
                            <div class="forscan-item" [class.odd]='odd'>
                                <ion-item-sliding no-lines no-padding>
                                    <ion-item no-lines no-padding text-wrap>
                                        <div class="forscan-item__content">
                                            <div class="forscan-item__left">
                                                <div class="forscan-item__name">{{ item.description }}</div>
                                            </div>
                                            <div class='forscan-item__right'>
                                                <div *ngIf='item.eanCode' class="forscan-item__tag" [class.forscan-item__tag--unscanned]='!item.scanned'>
                                                    {{ item.eanCode }}
                                                </div>
                                                <div *ngIf='!item.eanCode' class="forscan-item__circle">
                                                </div>
                                            </div>
                                        </div>
                                    </ion-item>
                                    <ion-item-options *ngIf='!item.eanCode' (ionSwipe)='onRemoveItemClicked(item)' side="right">
                                        <button ion-button color="danger" (click)="onRemoveItemClicked(item)">
                                        <fa-icon [icon]="FaIcons.faBan" class='forscan-item__sliding-icon'></fa-icon>
                                    </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </div>
                        </ng-container>
                    </ion-list>
                </ion-scroll>
            </div>
        </div>
        <div *ngIf="blink" class="blink"></div>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" [disabled]="!itemList" (click)="onSendToBackButtonClicked()">
        Potvrdit
    </button>
</ion-footer>
