<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Filtrovat a seřadit
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class='selects'>
        <div (click)='onSorterClick()' class='select-item'>
            <div class='select-item__label'>Seřadit</div>
            <div class='select-item__value select-item__value--highlight'>
                {{ filterService.sorter.text }}
            </div>
            <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
        </div>
        <div (click)='onProjectNameFilterClick()' class='select-item'>
            <div class='select-item__label'>Název projektu</div>
            <div class='select-item__value' [class.select-item__value--highlight]='filterService.projectNameFilter.id !== undefined'>
                {{ filterService.projectNameFilter.text }}
            </div>
            <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
        </div>
        <div (click)='onCustomerContactFilterClick()' class='select-item'>
            <div class='select-item__label'>Přebírající kontakt</div>
            <div class='select-item__value' [class.select-item__value--highlight]='filterService.customerContactFilter.id !== undefined'>
                {{ filterService.customerContactFilter.text }}
            </div>
            <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
        </div>
        <div (click)='onBillingCustomerContactFilterClick()' class='select-item'>
            <div class='select-item__label'>Fakturační kontakt</div>
            <div class='select-item__value' [class.select-item__value--highlight]='filterService.billingCustomerContactFilter.id !== undefined'>
                {{ filterService.billingCustomerContactFilter.text }}
            </div>
            <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
        </div>
        <div (click)='onStateFilterClick()' class='select-item'>
            <div class='select-item__label'>Stav</div>
            <div class='select-item__value' [class.select-item__value--highlight]='filterService.stateFilter.id !== undefined'>
                {{ filterService.stateFilter.text }}
            </div>
            <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
        </div>
    </div>
</ion-content>
