page-filter {
    ion-content {
        background-color: $medium!important;
    }
    .content-top {
        background-color: $medium;
        padding: 16px 0;
    }
    .select-item__label {
        width: 140px!important;
        flex-shrink: 0;
        padding-right: 3px;
    }
    .select-item__value {
        width: 140px!important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
body.dark{
    page-filter {
        ion-content {
            background-color: $all-black!important;
        }
        .content-top {
            background-color: $all-black;
        }
    }

}
