<ng-container *ngIf='item && mode'>
    <div class='stock-detail__wrap' [class.stock-detail__wrap--damaged]='item.damaged' [class.stock-detail__wrap--discarded]='item.discarded'>
        <div *ngIf='mode === "list"' (click)='onTitleClick()' class='stock-detail__title'>
            <div class='stock-detail__title-text'>
                #{{ item.id }}
            </div>
            <fa-icon *ngIf='item.qr?.length' [icon]="FaIcons.faChevronRight" class='stock-detail__title-icon'></fa-icon>
        </div>
        <ng-container *ngIf='mode !== "add-head"'>
            <div class='stock-detail__item stock-detail__item--with-icon'>
                <div class='stock-detail__label'>SN</div>
                <ion-input [(ngModel)]='item.sn' (keydown)='onInputKeyDown($event)' (ionBlur)='onEditFinished()' [placeholder]='mode === "add-codes" ? "" : "bez SN"' [disabled]='item.discarded'></ion-input>
                <fa-icon (click)='!item.discarded && onSnClick()' [icon]="FaIcons.faQrcode" class='stock-detail__icon'></fa-icon>
            </div>
            <div class='stock-detail__item stock-detail__item--with-icon'>
                <div class='stock-detail__label'>QR</div>
                <ion-input [(ngModel)]='item.qr' (keydown)='onInputKeyDown($event)' (ionBlur)='onEditFinished()' [placeholder]='mode === "add-codes" ? "" : "bez QR"' [disabled]='item.discarded'></ion-input>
                <fa-icon (click)='!item.discarded && onQrClick()' [icon]="FaIcons.faQrcode" class='stock-detail__icon'></fa-icon>
            </div>
        </ng-container>
        <ng-container *ngIf='mode !== "add-codes"'>
            <div class='stock-detail__item stock-detail__item--date'>
                <div class='stock-detail__label'>Datum nákupu</div>
                <ion-datetime [(ngModel)]='item.purchaseDate' (ionChange)="onEditFinished()" displayFormat="DDD DD.MM.YYYY" [disabled]='item.discarded' [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='stock-detail__date-icon'></fa-icon>
            </div>
            <div class='stock-detail__item stock-detail__item--date'>
                <div class='stock-detail__label'>Datum zařazení</div>
                <ion-datetime [(ngModel)]='item.placeDate' (ionChange)="onEditFinished()" displayFormat="DDD DD.MM.YYYY" [disabled]='item.discarded' [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='stock-detail__date-icon'></fa-icon>
            </div>
            <div class='stock-detail__cols'>
                <div class='stock-detail__item'>
                    <div class='stock-detail__label'>Prodejce</div>
                    <ion-input [(ngModel)]='item.seller' (keydown)='onInputKeyDown($event)' (ionBlur)='onEditFinished()' [disabled]='item.discarded'></ion-input>
                </div>
                <div class='stock-detail__item'>
                    <div class='stock-detail__label'>Cena</div>
                    <ion-input [(ngModel)]='item.price' type='number' (keydown)='onInputKeyDown($event)' (ionBlur)='onEditFinished()' [disabled]='item.discarded'></ion-input>
                    <div class='stock-detail__suffix'>Kč</div>
                </div>
            </div>
            <div class='stock-detail__item'>
                <div class='stock-detail__label'>Sklad</div>
                <ion-select [(ngModel)]='item.locationName' (ionChange)='onEditFinished()' [disabled]='item.discarded'  cancelText="Zrušit">
                    <ion-option value='Praha'>Praha</ion-option>
                    <ion-option value='Brno'>Brno</ion-option>
                </ion-select>
            </div>
        </ng-container>
        <ng-container *ngIf='(mode === "list" || mode==="detail") && originalState && originalState.qr?.length'>
            <div class='stock-detail__cols'>
                <div class='stock-detail__item stock-detail__item--light'>
                    <div class='stock-detail__label'>Poškozeno</div>
                    <ion-toggle [(ngModel)]='item.damaged' (ionChange)="onEditFinished()" [disabled]='originalState.qr !== item.qr || item.discarded'></ion-toggle>
                </div>
                <div class='stock-detail__item stock-detail__item--light stock-detail__item--discarded-toggle'>
                    <div class='stock-detail__label'>Odepsáno</div>
                    <ion-toggle [(ngModel)]='item.discarded' (ionChange)="onEditFinished()" [disabled]='originalState.qr !== item.qr'></ion-toggle>
                </div>
            </div>
            <div *ngIf="item.damaged" class='stock-detail__item'>
                <div class='stock-detail__label'>Status</div>
                <ion-select [(ngModel)]='item.ieStateId' (ionChange)='onEditFinished()' [disabled]='originalState.qr !== item.qr || item.discarded' placeholder="—" cancelText="Zrušit" [selectOptions]="selectOptions">
                    <ion-option *ngFor="let state of stockService.insuranceEventStates" [value]='state.value'>{{state.label}}</ion-option>
                </ion-select>
            </div>
            <div class='stock-detail__item stock-detail__item--textarea'>
                <div class='stock-detail__label'>
                    Poznámka
                </div>
                <ion-textarea [(ngModel)]='item.note' (keydown)='onInputKeyDown($event)' (ionBlur)='onEditFinished()' [disabled]='originalState.qr !== item.qr' rows='4'>
                </ion-textarea>
            </div>
        </ng-container>
    </div>
</ng-container>
