page-profile {
    .content-top {
        background-color: $medium;
        padding: 16px 0;
    }
    .selects .select-item .select-item__label {
        width: auto;
    }
}

body.dark {
    page-profile {
        .content-top {
            background-color: $black;
        }
        .selects {
            .select-item{
                background-color: $all-black;
                .select-item__value{
                    color: $dark;
                }
            }
        }

    }

}
