<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Můj profil
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-bottom>
    <div class="content-top" padding>
        <div class='selects'>
            <div (click)='onBranchPickerClick()' class='select-item'>
                <div class='select-item__label'>Lokace</div>
                <div class='select-item__value'>
                    {{ branchService.currentBranch.name }}
                </div>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
            <div (click)='onBranchByGPSPickerClick()' class='select-item'>
                <div class='select-item__label'>Automatická lokace dle GPS</div>
                <div class='select-item__value'>
                    {{ branchService.branchByGPSEnabled ? "Zapnuto" : "Vypnuto" }}
                </div>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
            <div (click)='onPublicPhoneModeClick()' class='select-item'>
                <div class='select-item__label'>Erární telefon</div>
                <div class='select-item__value'>
                    {{ publicPhoneMode ? "Ano" : "Ne" }}
                </div>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
            <div (click)='onAppThemeClick()' class='select-item'>
                <div class='select-item__label'>Vzhled aplikace</div>
                <div class='select-item__value'>
                    {{ themeService.appTheme }}
                </div>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
        </div>
    </div>
    <div padding-horizontal margin-top>
        <button ion-button block color='danger' (click)="onLogoutClick()">Odhlásit se</button>
    </div>
</ion-content>
