page-restock-scan {
    div.scan-area {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    focus-mode-toggle {
        position: absolute;
        top: 6px;
        right: 6px;
    }
    zoom-range {
        bottom: calc(-7px + env(safe-area-inset-bottom));
    }
    .content-top {
        background-color: $medium;
        padding: 16px 16px 0;
    }
}

body.dark{
    page-restock-scan {
        .content-top {
            background-color: $black;
        }
    }

}
