<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Přeskladnění
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <div class='content-top'>
        <div class='selects'>
            <div (click)='onBranchPickerClick()' class='select-item'>
                <div class='select-item__label'>Lokace</div>
                <div class='select-item__value'>
                    {{ currentBranch.name }}
                </div>
                <fa-icon class='select-item__icon' [icon]="FaIcons.faChevronRight"></fa-icon>
            </div>
        </div>
    </div>
    <camera-controls></camera-controls>
    <div class="content-main">
        <div class="scan-area"></div>
        <div *ngIf="blink" class="blink"></div>
    </div>
</ion-content>
