<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{orderId}}</span>
                <span>Noční trezory</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='stock-item'>
        <div class='stock-detail__wrap'>
            <div class='stock-detail__item stock-detail__item--date'>
                <div class='stock-detail__label'>Datum</div>
                <ion-datetime [(ngModel)]='form.date' displayFormat="DDD DD.MM.YYYY H:mm" [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]' doneText='Hotovo' cancelText='Zrušit'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='stock-detail__date-icon'></fa-icon>
            </div>
            <div class='stock-detail__item'>
                <div class='stock-detail__label'>Cena (Kč)</div>
                <ion-input [(ngModel)]='form.price' type='number'></ion-input>
            </div>
            <div class='stock-detail__item stock-detail__item--light'>
                <div class='stock-detail__label'>Změnit čas vypůjčení na teď</div>
                <ion-toggle [(ngModel)]='form.borrowTimeChange' (ionChange)="onToggleChange('borrow')"></ion-toggle>
            </div>
            <div class='stock-detail__item stock-detail__item--light'>
                <div class='stock-detail__label'>Změnit čas vrácení na teď</div>
                <ion-toggle [(ngModel)]='form.returnTimeChange' (ionChange)="onToggleChange('return')"></ion-toggle>
            </div>
            <div padding>
                <button (click)='onSubmitFormClick()' block ion-button no-margin color='primary'>Přidat noční trezor</button>
            </div>
        </div>
    </div>
    <div class='stock-title'>
        Noční trezory
    </div>
    <div *ngIf='!items || items.length === 0' margin padding text-center>
        <ion-spinner *ngIf='!items'></ion-spinner>
        <span *ngIf='items'>Objednávka neobsahuje žádné noční trezory</span>
    </div>
    <ion-list *ngIf='items && items.length > 0' class='list-log' no-lines no-margin>
        <ion-item-sliding *ngFor='let item of items' (click)='onEditVaultClick(item)' no-lines no-padding>
            <ion-item  class='item-log'>
                <ion-label text-wrap>
                    <div class='item-log__title'>{{ item.address }}</div>
                    <div class='item-log__label'>{{ item.date | date: 'E d.M.yyyy H:mm' | uppercase }}</div>
                    <div *ngIf='item.price' class='item-log__label'>{{ item.price }} Kč</div>
                </ion-label>
            </ion-item>
            <ion-item-options (ionSwipe)='onRemoveVaultClick(item)' side="right">
                <button ion-button color="danger" (click)="onRemoveVaultClick(item, $event)">
                <fa-icon [icon]="FaIcons.faBan" class='list-log__sliding-icon'></fa-icon>
            </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
