page-add-night-vault {
    .scroll-content {
        background-color: $medium;
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }
    .stock-title {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 12px 16px 5px;
        font-size: 16px;
        font-weight: bold;
    }
    .stock-item .stock-detail__item ion-datetime {
        width: 210px;
    }
    .list-log {
        margin-top: 3px;
        .item-log {
            padding-top: 5px;
            padding-bottom: 5px;
            .item-inner {
                padding-right: 0 !important;
            }
            &:nth-child(even) {
                background-color: $medium;
            }
            ion-label {
                margin-right: 0 !important;
            }
        }
        .item-log__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .item-log__label {
            color: $darker;
            font-size: 16px;
            padding-right: 16px;
        }
    }
    .list-log__sliding-icon {
        font-size: 23px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

body.dark{
    page-add-night-vault {
        .scroll-content {
            background-color: $all-black;
        }

        .list-log {
            margin-top: 3px;
            .item-log {
                &:nth-child(even) {
                    background-color: $medium;
                }
            }

            .item-log__label {
                color: $darker;

            }
        }
    }

}
