page-home {
    .scroll-content {
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }

    .refresh-button {
        font-size: 16px;
    }

    .content-top {
        background-color: $medium;
        padding-top: 16px;

        .form-item {
            display: flex;
        }

        .list-controls_toggle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 48%;
            padding-left: 2px;
            flex-shrink: 0;

            ion-toggle {
                margin-left: 8px;
                pointer-events: none;
            }

            > div {
                font-size: 16px;
                color: $darker;
                font-weight: normal !important;
            }
        }
    }

    .segment-top {
        padding-top: 0px;

        .tabs-wrap {
            background-color: $medium !important;
        }
    }

    .content-bottom {
        background: $white;
        min-height: calc(60% - 94px);

        h6 {
            margin: 0 !important;
            padding-top: 20px;
            padding-bottom: 16px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .list-controls {
        position: relative;
        border-bottom: 1px solid $dark;
        height: 56px;
        overflow: hidden;
        display: flex;
        align-items: center;

        .list-controls__filter-icon {
            color: $darker;
            padding: 0 14px 0 16px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 33px;
                width: 33px;
                border: 1px solid transparent;
                border-radius: 5px;
            }

            fa-icon {
                position: relative;
                top: 1px;
                font-size: 17px;
            }
        }

        .list-controls__filter-icon--active {
            div {
                border-color: #b7b7b7;
            }
        }

        .list-controls__no-filter-wrap {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            color: $darker;
            padding-right: 16px;

            span {
                font-size: 16px;
            }

            fa-icon {
                margin-left: auto;
            }
        }

        .list-controls__filter-wrap {
            height: 100%;
            flex: 1;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            display: flex;
            align-items: center;
            padding-right: 16px;
        }

        .list-controls__filter-item {
            padding-right: 10px;
            flex-shrink: 0;
        }

        .list-controls__filter-item-inner {
            display: flex;
            align-items: center;
            border-radius: 5px;
            color: $primary;
            border: 1px solid $primary;
            background-color: #f5fae8;
            font-weight: bold;
            padding-left: 8px;

            span {
                font-size: 15px;
            }

            ion-icon {
                color: $primary;
                font-size: 31px;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 9px;
                line-height: 30px;
            }
        }
    }

    .list-all {
        margin-top: 3px;

        .item-all {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: $white;

            .item-inner {
                padding-right: 0 !important;
            }

            &:nth-child(even) {
                background-color: $medium;
            }

            ion-label {
                margin-right: 0 !important;
            }
        }

        .item-all__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
            color: $black;
        }

        .item-all__from-to {
            display: flex;
            color: $darker;
            font-size: 15px;

            > div {
                width: 50%;
            }
        }

        .item-all__from-to--small {
            font-size: 12px;

            > div {
                padding-left: 27px;
            }
        }
    }

    .list-history {
        margin-top: 3px;

        .item-history {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: $white;

            .item-inner {
                padding-right: 0 !important;
            }

            &:nth-child(even) {
                background-color: $medium;
            }

            ion-label {
                margin-right: 0 !important;
                color: $black;
            }
        }

        .item-history__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
            color: $black;
        }

        .item-history__label {
            font-size: 16px;
        }
    }
}

.platform-android page-home {
    .list-controls {
        .list-controls__filter-item-inner {
            ion-icon {
                padding-top: 2px;
            }
        }
    }
}

body.dark {
    page-home {
        .content-top {
            background-color: $black;

            .list-controls_toggle {

                > div {
                    color: $black;
                }
            }
        }

        .segment-top {
            .tabs-wrap {
                background-color: $black !important;
            }
        }

        .content-bottom {
            background: $all-black;

        }

        .list-controls {
            border-bottom: 1px solid $darker;

            .list-controls__filter-icon {
                color: $dark;


            }

            .list-controls__filter-icon--active {
                div {
                    border-color: #b7b7b7;
                }
            }

            .list-controls__no-filter-wrap {
                color: $dark;
            }


            .list-controls__filter-item-inner {
                color: $primary;
                border: 1px solid $primary;
                background-color: #f5fae8;


                ion-icon {
                    color: $primary;

                }
            }
        }

        .list-all {
            .item-all {
                background-color: $all-black;

                &:nth-child(even) {
                    background-color: $black;
                }

            }

            .item-all__title {
                color: $white;
            }

            .item-all__from-to {
                color: $dark;


            }
        }

        .list-history {
            .item-history {
                background-color: $all-black;

                &:nth-child(even) {
                    background-color: $black;
                }
            }
            ion-label{
                color: $white;

            }

            .item-history__title {
                color: $white;
            }

        }
    }

}

