<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button (click)="onRefresh()" ion-button icon-only color='darker' class='refresh-button'>
                <ion-icon name='md-refresh'></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            BIOFILMS
        </ion-title>
        <ion-buttons end>
            <button (click)="onMyProfileButtonClick()" ion-button icon-only color='darker' class='profile-button'>
                <fa-icon [icon]="FaIcons.faUser"></fa-icon>
                <div class='profile-button__label'>{{branchService.currentBranch?.name}}</div>
            </button>
            <button (click)="onHeaderButtonClick()" ion-button icon-only color='darker' class='menu-button'>
                <fa-icon [icon]="FaIcons.faBars"></fa-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
   <!--  <ion-refresher (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
    <div class="content-top" padding-horizontal>
        <div *ngIf='mode === "orders"' class='form-item form-item--with-icon'>
            <ion-icon name='ios-search' color='black'></ion-icon>
            <ion-searchbar (ionInput)="applyOrderFilters()" [(ngModel)]="orderSearchInputVal" placeholder="Vyhledat"></ion-searchbar>
        </div>
        <div *ngIf='mode === "log"' class='form-item form-item--with-icon'>
            <ion-icon name='ios-search' color='black'></ion-icon>
            <ion-searchbar (ionInput)="applyHistoryFilters()" [(ngModel)]="historySearchInputVal" placeholder="Vyhledat"></ion-searchbar>
            <div (click)='onToggleHistoryCurrentUserFilter()' class="list-controls_toggle">
                <div text-right><b>Pouze mé</b></div>
                <ion-toggle [checked]='historyCurrentUserFilterActive'>
                </ion-toggle>
            </div>
        </div>
    </div>
    <div class="segment-top">
        <div class="tabs-wrap" tappable>
            <ion-segment [(ngModel)]="mode" (ionChange)='onModeChange()' mode='md' color='dark'>
                <ion-segment-button value="orders">
                    Objednávky
                </ion-segment-button>
                <ion-segment-button value="log">
                    Historie
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
    <ng-container *ngIf='mode === "log"'>
        <ion-list class='content-bottom list-history' no-margin no-lines>
            <div *ngIf='!historyFiltered' margin padding text-center>
                <ion-spinner></ion-spinner>
            </div>
            <div *ngIf="historyFiltered && historyFiltered.length === 0" class="empty-message" margin-vertical text-center>
                Žádné.
            </div>
            <ion-item *ngFor="let item of historyRendered" (click)="orderItemClicked(item.order)" padding-horizontal class='item-history'>
                <ion-label text-wrap>
                    <div class='item-history__title'>{{ item.date | date: 'E d.M.yyyy H:mm' | uppercase }} {{ item.username }}</div>
                    <div class='item-history__label' text-wrap>
                        #{{ item.order }} {{ item.customer }}{{ item.billingCustomer && ', ' + item.billingCustomer }}
                    </div>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngIf='mode === "orders"'>
        <div class="content-bottom" padding-bottom>
            <div (click)='!filterBreadcrumbs.length && onFiltersClick()' class="list-controls">
                <div (click)='filterBreadcrumbs.length && onFiltersClick()' class='list-controls__filter-icon' [class.list-controls__filter-icon--active]='!!filterBreadcrumbs.length'>
                    <div>
                        <fa-icon [icon]="FaIcons.faSlidersH"></fa-icon>
                    </div>
                </div>
                <div *ngIf='!filterBreadcrumbs.length' class='list-controls__no-filter-wrap'>
                    <span>Filtrovat a seřadit</span>
                    <fa-icon [icon]="FaIcons.faChevronRight"></fa-icon>
                </div>
                <div *ngIf='filterBreadcrumbs.length' class='list-controls__filter-wrap'>
                    <div *ngFor='let item of filterBreadcrumbs' class='list-controls__filter-item'>
                        <div class='list-controls__filter-item-inner'>
                            <span>{{ item.text }}</span>
                            <ion-icon (click)='$event.stopPropagation(); item.removeHandler()' name="close-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <ion-list no-margin no-lines class='list-all'>
                <div *ngIf='!filteredOrders' margin padding text-center>
                    <ion-spinner></ion-spinner>
                </div>
                <div *ngIf="filteredOrders && filteredOrders.length === 0" class="empty-message" margin-vertical text-center>
                    Žádné.
                </div>
                <ion-item *ngFor="let order of ordersRendered" (click)="orderItemClicked(order.orderNumber)" padding-horizontal class='item-all'>
                    <ion-label text-wrap>
                        <div class='item-all__title'>#{{order.orderNumber}} {{order.customer}}</div>
                        <div class='item-all__from-to'>
                            <div>Od: {{order.from | date:'E d.M.yyyy H:mm' | uppercase}}</div>
                            <div>Do: {{order.to | date:'E d.M.yyyy H:mm' | uppercase}}</div>
                        </div>
                        <div class='item-all__from-to item-all__from-to--small'>
                            <div>{{order.invoicedFrom | date:'E d.M.yyyy H:mm' | uppercase}}</div>
                            <div>{{order.invoicedTo | date:'E d.M.yyyy H:mm' | uppercase}}</div>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ng-container>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]='(mode === "orders" && ordersRendered && filteredOrders && ordersRendered.length < filteredOrders.length) || mode === "log" && historyRendered && historyFiltered && historyRendered.length < historyFiltered.length'>
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<button (click)='presentMainActionSheet()' ion-button class='action-button'>
    <fa-icon [icon]="FaIcons.faQrcode"></fa-icon>
</button>
