<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Produkty a sklad</span>
                <span>Přidání nových položek</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='stock-title'>
        <div class='stock-title__left'>
            {{ stockSvc.activeProduct.name }}
        </div>
    </div>
    <div class='stock-items'>
        <stock-item mode='add-head' [item]='head'></stock-item>
        <stock-item *ngFor='let item of codes' [item]='item' (qr)='onScanClick($event, "qr")' (sn)='onScanClick($event, "sn")' mode='add-codes'></stock-item>
    </div>
    <div padding>
        <button (click)='onAddButtonClick()' block ion-button outline no-margin class='add-item-button'>Přidat další</button>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" [disabled]="false" (click)="onConfirmButtonClick()">
        Přidat položky
    </button>
</ion-footer>
