page-stock-add {
    .scroll-content {
        background-color: $medium;
    }
    .stock-title {
        display: flex;
        height: 60px;
        align-items: center;
        padding: 12px 16px 13px;
        font-size: 16px;
        .stock-title__left {
            font-weight: bold;
            padding-right: 16px;
            flex: 1;
        }
        .stock-title__right {
            color: $darker;
        }
    }
    .add-item-button {
        background-color: $white!important;
        color: $primary!important;
    }
}

body.dark{
    page-stock-add {
        .scroll-content {
            background-color: $all-black;
        }
        .stock-title {
            .stock-title__right {
                color: $dark;
            }
        }
        .add-item-button {
            background-color: $all-black !important;
            color: $white !important;
        }
    }

}
