stock-item,
.stock-item {
    display: block;

    & + stock-item {
        margin-top: 10px;
    }

    .stock-detail__wrap {
        &--damaged {
            .stock-detail__title {
                color: $danger;
            }
        }

        &--discarded {
            .stock-detail__title {
                opacity: 0.6;
                color: $black;
            }

            .stock-detail__icon,
            .stock-detail__date-icon,
            .stock-detail__suffix,
            .stock-detail__label,
            .text-input[disabled],
            .datetime-disabled,
            .select-disabled {
                opacity: 0.6;
            }

            .stock-detail__item--discarded-toggle .stock-detail__label {
                opacity: 1;
            }
        }
    }

    .stock-detail__title {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 5px 16px;

        .stock-detail__title-text {
            font-family: $font-family-roboto-slab;
            font-size: 18px;
            flex: 1;
        }

        .stock-detail__title-icon {
            font-size: 15px;
            color: $darker;
        }
    }

    .stock-detail__cols {
        display: flex;

        > * {
            width: 50%;

            &:first-child {
                border-right: 1px solid $dark;
            }
        }
    }

    .stock-detail__item {
        border-bottom: 1px solid $dark;
        display: flex;
        align-items: center;
        height: 58px;
        padding: 0 16px;
        background-color: $white;
        font-size: 15px;

        ion-input {
            flex: 1;
        }

        input {
            text-align: right;
            margin: 0;
            width: 100%;
            height: 45px;
            color: $darker;
        }

        ion-datetime {
            position: relative;
            border: 1px solid $dark;
            border-radius: 3px;
            height: 40px;
            width: 170px;
            margin-left: auto;
            padding-right: 46px;
            color: $darker;
        }

        ion-toggle {
            margin-left: auto;
        }

        ion-select {
            position: relative;
            margin-left: auto;
            max-width: 50%;
            width: 50%;
        }
    }

    .stock-detail__label {
        position: relative;
        font-weight: bold;
        margin-right: 12px;
    }

    .stock-detail__icon {
        font-size: 24px;
        color: $darker;
        padding-left: 16px;
        padding-right: 16px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .stock-detail__date-icon {
        font-size: 19px;
        position: absolute;
        right: 31px;
        color: $darker;
        pointer-events: none;
    }

    .stock-detail__suffix {
        color: $darker;
        margin-left: 6px;
    }

    .stock-detail__item--with-icon {
        padding-right: 0;
    }

    .stock-detail__item--light {
        .stock-detail__label {
            font-weight: normal;
            color: $darker;
        }
    }

    .stock-detail__item--textarea {
        height: 127px;
        flex-direction: column;
        padding-top: 14px;

        .stock-detail__label {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-right: 0;
        }

        textarea {
            width: 100%;
        }
    }

    .stock-detail__item--radios {
        height: auto;
        flex-direction: column;
        padding-top: 14px;
        padding-bottom: 8px;

        .stock-detail__label {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-right: 0;
        }

        ion-list {
            margin: 0;
            margin-top: 6px;
            width: 100%;

            ion-item:first-child {
                border-top: 0;
            }

            ion-item:last-child {
                border-bottom: 0;
            }
        }
    }
}

body.dark {
    stock-item,
    .stock-item {
        .stock-detail__wrap {
            &--damaged {
                .stock-detail__title {
                    color: $danger;
                }
            }

            &--discarded {
                .stock-detail__title {
                    color: $darker;
                }
            }
        }

        .stock-detail__title {
            .stock-detail__title-icon {
                color: $darker;
            }
        }

        .stock-detail__cols {
            > * {
                &:first-child {
                    border-right: 1px solid $darker;
                }
            }
        }

        .stock-detail__item {
            border-bottom: 1px solid $darker;
            background-color: $all-black;


            input {
                color: $dark;
            }

            ion-datetime {
                border: 1px solid $darker;

                color: $dark;
            }

        }

        .stock-detail__icon {
            color: $dark;
        }

        .stock-detail__date-icon {
            color: $dark;
        }

        .stock-detail__suffix {
            color: $dark;
        }

        .stock-detail__item--light {
            .stock-detail__label {
                color: $dark;
            }
        }


        .stock-detail__item--radios {
            .stock-detail__label {

            }

        }
    }

}
