table{
  margin: 20px 0;
  width: 100%;
  border: 1px solid #000;
  tr{
    td{
      padding: 6px 8px;
    }
    &:nth-child(even){
      td{
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
}
