page-inventory-select,
page-inventory-scan,
page-inventory-confirm,
page-inventory-result,
page-inventory-result-modal {
  ion-title {
    div {
      text-align: left !important;
    }
    .two-line-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      span:first-child {
        font-size: 1.6rem;
      }
      span:last-child {
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: 0;
      }
    }
  }

  h4 {
    margin: 0 10px 8px 0;
  }
  .header-tabs-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 10px;
    ion-segment {
      max-width: 250px;
    }
  }
  .search-wrap {
    ion-searchbar {
      margin: 0px 5px 8px 0;
      padding: 0;
      .searchbar-input {
        padding-left: 40px !important;
        padding-right: 40px !important;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .searchbar-search-icon {
        left: 10px !important;
        top: 15px!important;
      }
      .searchbar-clear-icon {
        right: 15px !important;
      }
    }
    .autocomplete-wrap {
      margin-top: -6px;
      border: 1px solid black;
      background: whitesmoke;
    }
  }
  ion-list {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    ion-item {
      border-bottom: 1px solid black !important;
      background-color: transparent !important;
      .item-inner {
        padding-right: 0 !important;
      }
      strong {
        margin-right: 6px !important;
      }
      button {
        margin: 0 !important;
        height: 100% !important;
        width: 45px;
      }
    }
  }
  .spinner-wrapper,
  .empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 225px);
    button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      ion-icon {
        font-size: 30px;
      }
    }
  }
  .ios-scroll-fix {
    padding-bottom: 15px !important;
  }

  ion-footer {
    background-color: white;
    button {
      height: 5.5rem!important;;
      border-radius: 0!important;;
      padding: 0px!important;;
      margin: 0px!important;;
    }
  }
}

body.dark{
    page-inventory-select,
    page-inventory-scan,
    page-inventory-confirm,
    page-inventory-result,
    page-inventory-result-modal {

        .searchbar-search-icon{
            background: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%23ffffff'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
        }

        .search-wrap {

            .autocomplete-wrap {
                border: 1px solid $black;
                background: $all-black;
            }
        }
        ion-list {
            ion-item {
                border-bottom: 1px solid $black !important;

            }
        }



    }

}
