// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$range-ios-knob-width: 20px;
$range-ios-knob-height: 20px;
$range-ios-knob-box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
$range-ios-knob-background-color:#6C6C6C;
$range-ios-bar-height:4px;
$range-ios-bar-background-color: #B0B0B0;
$range-ios-bar-active-background-color: #B0B0B0;

$toggle-ios-width:64px;
$toggle-ios-height: 34px;
$toggle-ios-border-width:4px;
$toggle-ios-border-color-off:#efefef;
$toggle-ios-background-color-off: #efefef;
$toggle-ios-border-color-on:#e1f3d3;
$toggle-ios-background-color-on: #e1f3d3;
$toggle-ios-handle-background-color: #6C6C6C;
$toggle-ios-handle-box-shadow:0;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$primary: #A7CF38;
$success: #6AC421;
$danger: #E21B1B;
$danger-dark: #BF2F40;
$white: #FFFFFF;
$light: #FCFCFB;
$medium: #F4F4F2;
$dark: #E5E5E5;
$darker: #6C6C6C;
$black: #2F2F2F;
$all-black: #000000;
$secondary: $white;

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  danger: $danger,
  danger-dark: $danger-dark,
  white: $white,
  light: $light,
  medium: $medium,
  dark: $dark,
  darker: $darker,
  black: $black,
  all-black: $all-black,
);

$font-family-roboto:  "Roboto", -apple-system, "Helvetica Neue",  sans-serif;
$font-family-roboto-slab:  "Roboto Slab", "RobotoSlab", $font-family-roboto;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
}
ion-app.cameraHideContent{
  ion-nav ion-content {
    visibility:hidden;
  }
}

ion-app {
  background-color: rgba(0,0,0,0.01);
}
