<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <ng-container>
        <section class='section-header'>
            <div class='section-header__title'>Dvoufázové ověření - zadejte kód obdržený v SMS zprávě</div>
        </section>
        <section class='section-form'>
            <div class='form-item'>
                <label>SMS kód</label>
                <ion-input [(ngModel)]="code" type="phone"></ion-input>
            </div>
            <div class='section-form__buttons'>
                <button ion-button block margin-top (click)="onConfirmClick()" [disabled]='!code'>Přihlásit</button>
            </div>
        </section>
    </ng-container>
</ion-content>
