sms-code-modal {
    .header-ios .toolbar-ios .toolbar-background {
        background-color: #FCFCFB;
        border-bottom: none!important;
    }
    ion-content.content {
        background-color: $light;
    }
    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 26vh;
        .section-header__title {
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            font-family: $font-family-roboto-slab;
        }
    }
    .section-form__buttons {
        margin-top: 24px;
        button[outline] {
            background-color: $white;
        }
    }
    ion-input {
        background-color: $medium!important;
    }
}

body.dark{
    sms-code-modal {
        .header-ios .toolbar-ios .toolbar-background {
            background-color: $all-black;
        }
        ion-content.content {
            background-color: $all-black;
        }
        .section-form__buttons {
            button[outline] {
                background-color: $all-black;
            }
        }
        ion-input {
            background-color: $dark !important;
        }
    }

}
