focus-mode-toggle {
  padding: 5px 12px;
  border-radius: 15px;
  background: white;
  font-size: 13px;
  border: 1px solid gray;
}

body.dark{
    focus-mode-toggle {
        background: $all-black;
        border: 1px solid $black;
    }

}
