body.dark {
    .content-ios {
        color: $white;
        background-color: $all-black;
    }

    .item-ios {
        background-color: $all-black;
        color: $white;
    }

    ion-navbar {
        button {
            color: $dark !important;
        }
    }

    .toolbar-title-ios {
        color: $white;
    }

    .toolbar-ios {
        .toolbar-background-ios {
            background: $all-black;
        }

        &.toolbar-ios--bordered {
            .toolbar-background-ios {
                border-bottom: 1px solid $all-black !important;
            }
        }
    }


    .form-item {
        label {
            color: $white;
        }

        ion-input {
            background-color: $darker;
            color: $white;
        }
    }

    .searchbar-input {
        background-color: $all-black;
        color: $dark !important;

    }

    ion-icon {
        color: $white
    }

    .searchbar-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(255,255,255,255.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
    }


    ion-searchbar.searchbar-ios {
        input::placeholder {
            color: $dark !important;
        }
    }

    .action-sheet-default {
        .action-sheet-group {
            &:last-child {
                button {
                    background-color: $all-black;
                    color: $white;
                }
            }
        }

        ion-backdrop {
            background: $darker;
        }
    }

    .action-button {
        box-shadow: 0 0 20px $all-black;
    }

    .tabs-wrap {
        .segment-md {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            color: $dark;
            background-color: transparent;

            ion-segment {
                position: relative;
                bottom: -1px;
            }

            ion-segment-button {
                color: $dark;

                &.segment-activated {
                    font-weight: bold;
                    color: $danger-dark;
                    border-bottom-color: $danger-dark;
                }
            }
        }
    }

    ion-alert {
        ion-backdrop {
            background-color: $darker;
        }

        .alert-title,
        .alert-message {
            color: $white !important;
        }

        .alert-radio-group {
            border-color: $black;

        }

        .alert-wrapper {
            background-color: $all-black;

            .alert-button {
                border-color: $black;
            }
        }
    }

    .selects {
        .select-item {
            background: $black;

            .select-item__value {
                color: $dark;
            }

            .select-item__icon {
                color: $dark;
            }

        }
    }

    .forscan-item {
        color: $darker !important;

        ion-item {
            background-color: $all-black;
        }

        .forscan-item__name {
            color: $dark;

            > div {
                &:first-of-type {
                    color: $white;

                }
            }
        }

        .forscan-item__icon {
            color: $dark;
        }

        .forscan-item__counter {
            background-color: $darker;
        }

        &.odd {
            ion-item {
                background-color: $black;
            }
        }

        &.forscan-item--expanded {
            .forscan-item__name {
                color: $dark;
            }
        }
    }

    .content-tabs {
        border-bottom: 1px solid $darker;
    }

    .cupertino-pane-wrapper {
        .pane {
            background: $all-black;
        }

        .backdrop {
            background-color: $darker !important;
            opacity: .7;

        }
    }

}
