// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/fonts";
@import "../theme/table";
@import "../theme/inventory";
@import "../theme/stock-item";
@import "./app.dark";

ion-app.ios {
    font-family: $font-family-roboto !important;
}

.content-ios {
    color: $black;
    background-color: $white;
}

.item-ios{
    background-color: $white;
    color: $darker;
}

.red {
    color: #bf2f40;
}

.green {
    color: green;
}

.textarea-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    height: 102px;

    textarea {
        padding: 8px;
        flex-grow: 1;
        height: 100px;
        border: 0;
    }

    button {
        margin: 0 !important;
        border-radius: 0;
        height: 100% !important;
    }
}

.alert-message {
    white-space: pre-wrap;
}

ion-alert {
    .alert-button {
        height: auto !important;
        min-height: 44px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .alert-title,
    .alert-message{
        color: $black !important;
    }
}

ion-alert.alert-highlight {
    .alert-wrapper {
        background-color: #fca300;
        color: white;
    }

    .alert-button {
        color: white;
        border-color: #e6e6e6;
        border-right: 0;
        border-left: 0;
    }
}

.qr-presence-prompt {
    .alert-message {
        ul {
            margin: 0;
            text-align: left;
            padding-left: 22px;
        }
    }
}

.alert-radio-buttons {
    .alert-radio-label {
        white-space: normal !important;
    }
}

.ios ion-content {
    // fix zablovaneho scrollovani na ios (stava se po dismissnuti alertu), viz https://github.com/ionic-team/ionic-v3/issues/984
    pointer-events: auto;
}

.back-button {
    display: none !important;
}

ion-toggle {
    &.toggle-checked {
        .toggle-icon .toggle-inner {
            background-color: $success;
        }
    }
}

ion-footer {
    // background-color: white;
    button {
        padding: 0px !important;
        margin: 0px !important;
        height: 48px;
        border-radius: 0 !important;
    }
}

.two-line-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;

    span {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    span:last-child {
        color: $darker;
        margin-top: 0px;
        font-family: $font-family-roboto;
    }
}

zoom-range {
    position: absolute;
    bottom: -7px;
    width: 90%;
    left: 5%;
}

button[block] {
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

.toolbar-ios {
    button {
        font-size: 18px;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .menu-button {
        font-size: 20px;
    }

    .profile-button {
        position: relative;

        fa-icon {
            position: relative;
            top: -3px;
        }

        .profile-button__label {
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 12px;
            bottom: -3px;
        }
    }
}

.toolbar-ios {
    .toolbar-background-ios {
        background: $white;
        border: 0 !important;
    }

    &.toolbar-ios--bordered {
        .toolbar-background-ios {
            border-bottom: 1px solid $dark !important;
        }
    }
}

.toolbar-title-ios {
    font-size: 18px;
    font-family: $font-family-roboto-slab;
    color: $black;
}

@media (min-height: 667px) {
    .toolbar-ios {
        min-height: 56px;

        &--font-size {
            .toolbar-title-ios {
                font-size: 1.7rem;
            }
        }

        .profile-button {
            fa-icon {
                position: relative;
                top: -2px;
            }

            .profile-button__label {
                bottom: -5px;
                font-size: 13px;
            }
        }
    }
}

.form-item {
    position: relative;

    label {
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 11px;
    }

    ion-input {
        background-color: $white;
        border-radius: 3px;
        height: 48px;
        padding-top: 2px;

        input {
            margin-left: 16px;
            font-size: 15px;
        }

        input::placeholder {
            opacity: 1;
            color: $darker;
        }
    }

    + .form-item {
        margin-top: 20px;
    }

    &.form-item--with-icon {
        ion-input {
            padding-left: 32px;
        }

        ion-icon {
            position: absolute;
            left: 15px;
            top: 13px;
            z-index: 2;
            font-size: 23px;
        }
    }
}

ion-searchbar.searchbar-ios {
    font-size: 15px;
    padding: 0 !important;
    margin: 0;
    background: transparent;
    border-bottom: 0;

    .searchbar-search-icon {
        display: none;
    }

    .searchbar-input {
        font-size: 15px;
        height: 48px;
        padding-left: 43px !important;
        padding-right: 30px !important;
    }

    .searchbar-search-icon {
        left: 5px !important;
    }

    .searchbar-clear-icon {
        right: 5px !important;
    }

    input::placeholder {
        color: $darker !important;
    }
}

.select-ios {
    font-size: 15px;
    color: $darker !important;
    padding: 10px 8px 10px 16px;
}

.header-tabs-wrap {
    .segment-button {
        border-color: $darker;
        color: $darker;
    }

    .segment-button.segment-activated {
        color: #000;
        background-color: $dark;
    }
}

.tabs-wrap {
    .segment-md {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        color: $dark;
        background-color: transparent;

        ion-segment {
            position: relative;
            bottom: -1px;
        }

        ion-segment-button {
            border-radius: 0 !important;
            text-transform: none;
            font-size: 16px;
            border-bottom-color: transparent;
            color: $darker;
            font-weight: normal;
            opacity: 1;
            padding-top: 8px;
            min-height: 56px;

            &.segment-activated {
                font-weight: bold;
                color: $danger-dark;
                border-bottom-color: $danger-dark;
            }
        }
    }
}

.action-button {
    position: fixed;
    right: 8px;
    bottom: calc(8px + env(safe-area-inset-bottom));
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-shadow: 0 0 20px #C3C8B6;
    z-index: 5;
    margin: 0;
    padding: 0;

    fa-icon {
        color: $white;
        font-size: 46px;
    }
}

.action-sheet-ios {
    button {
        border: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    font-family: $font-family-roboto !important;
    /*   ion-backdrop {
        opacity: 0.7!important;
    } */
    .action-sheet-container {
        padding: 0 16px;
        overflow: visible;
    }

    .action-sheet-group {
        border-radius: 0;
        overflow: visible;
        background: transparent !important;
    }
}

.action-sheet-default {
    .action-sheet-group {
        button,
        button.activated {
            font-size: 16px;
            font-weight: bold;
            border-radius: 3px;
            height: 48px;
            min-height: 0;

            & + button {
                margin-top: 10px !important;
            }
        }
    }

    .action-sheet-group:first-child {
        margin-bottom: 20px;

        button {
            background-color: $primary;
            color: $white;
        }
    }

    .action-sheet-group:last-child {
        margin-bottom: 16px;

        button {
            background-color: $medium;
            color: $black;
        }
    }

    &.action-sheet-default--line-wrap {
        button {
            white-space: pre-line;
            font-size: 15px !important;
            line-height: 17px !important;
            height: auto;
            min-height: 48px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}

.order-page-action-sheet {
    .action-sheet-group:first-child {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;

        button {
            height: 32vw;
            width: calc(50% - 12px);
            font-size: 16px;
            font-weight: bold;
            color: $white;
            border-radius: 3px;
            background-size: 40px 32px;
            background-position: center 35%;
            background-repeat: no-repeat;
            padding-bottom: 20px;
            border: 0 !important;

            .button-inner {
                align-items: flex-end;
            }
        }

        button:first-child {
            background-color: $danger-dark;
            background-image: url('../assets/imgs/icon-scan-out.png');
        }

        button:last-child {
            background-color: $primary;
            background-image: url('../assets/imgs/icon-scan-in.png');
        }
    }

    .action-sheet-group-cancel {
        button {
            border-radius: 50%;
            width: 72px;
            height: 72px;
            background-size: 42px;
            background-color: $dark;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../assets/imgs/cross.png');
            border: 0;
            margin-left: auto;
            display: block;
            right: -2px;
            top: 2px;
            position: relative;
        }
    }
}


/* .order-page-action-sheet {
    .action-sheet-group {
        button {
            font-size: 16px;
            font-weight: bold;
            border-radius: 3px;
            height: 48px;
            min-height: 0;
            &+button {
                margin-top: 10px!important;
            }
        }
    }
    .action-sheet-group:first-child {
        margin-bottom: 14px;
        button {
            color: $white;
            background-size: 30px 24px;
            background-position: 16px center;
            background-repeat: no-repeat;
        }
        button:first-child {
            background-color: $primary;
            background-image: url('../assets/imgs/icon-scan-out.png');
        }
        button:last-child {
            background-color: $danger-dark;
            background-image: url('../assets/imgs/icon-scan-in.png');
        }
    }
    .action-sheet-group-cancel {
        button {
            border-radius: 50%;
            width: 72px;
            height: 72px;
            background-size: 42px;
            background-color: $dark;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../assets/imgs/cross.png');
            border: 0;
            margin-left: auto;
            display: block;
            right: -2px;
            top: 2px;
            position: relative;
        }
    }
} */

.forscan-item {
    display: flex;
    align-items: center;
    color: $darker !important;

    ion-item-options {
        border-bottom: 0;
    }

    .item-inner,
    ion-label {
        padding-right: 0 !important;
        margin-right: 0 !important;
        margin: 0 !important;
    }

    ion-item {
        padding: 6px 16px;
        min-height: 44px;
        background-color: $white;
    }

    .forscan-item__content,
    .forscan-item__left {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .forscan-item__name {
        color: $darker;
        font-size: 15px;
        padding-right: 20px;
    }

    .forscan-item__icon {
        color: $darker;
        font-size: 13px;
        min-width: 12px;
    }

    .forscan-item__left {
        .forscan-item__icon {
            margin-right: 12px;
        }
    }

    .forscan-item__sliding-icon {
        font-size: 23px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .forscan-item__tag {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 6px;
        font-size: 14px;
        border-radius: 3px;
        color: white;
        background: $success;
    }

    .forscan-item__tag--unscanned {
        background: $danger;
    }

    .forscan-item__circle {
        width: 16px;
        height: 16px;
        background: $danger;
        border-radius: 50%;
    }

    .forscan-item__counter {
        font-size: 15px;
        font-weight: bold;
        padding: 4px 4px;
        background-color: $dark;
        border-radius: 3px;

        &.forscan-item__counter--red {
            color: $danger;
            background-color: #F6E1E0;
        }

        &.forscan-item__counter--green {
            color: $success;
            background-color: #F5FAE9;
        }
    }

    &.odd {
        ion-item {
            background-color: $medium;
        }
    }

    &.forscan-item--expaning {
        ion-item {
            padding-left: 48px;
        }

        .forscan-item__name {
            font-size: 14px;
        }
    }

    &.forscan-item--expanded {
        .forscan-item__name {
            color: $black;
        }
    }
}

.blink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: blinker 300ms linear;
    background: transparent;
}

@keyframes blinker {
    50% {
        background: white;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.selects {
    .select-item {
        position: relative;
        background: $white;
        border-radius: 3px;
        padding: 6px 0 6px 16px;
        display: flex;
        align-items: center;
        font-size: 15px;
        height: 40px;

        .select-item__label {
            width: 100px;
            font-weight: bold;
        }

        .select-item__value {
            flex-grow: 1;
            text-align: right;
            padding-right: 30px !important;
            color: $darker;
        }

        .select-item__value--highlight {
            color: $primary;
            font-weight: bold;
        }

        .select-item__value--lowercase {
            text-transform: lowercase;
        }

        .select-item__value--small {
            font-size: 14px;
        }

        .select-item__select {
            flex-grow: 1;
            border: 0;
            text-align: right;
            padding-right: 30px !important;
            max-width: 100%;
            text-transform: lowercase;

            .select-icon {
                display: none;
            }
        }

        .select-item__select--red {
            color: $danger !important;
        }

        .select-item__select--green {
            color: $success !important;
        }

        .select-item__icon {
            position: absolute;
            right: 10px;
            top: 11px;
            z-index: 2;
            color: $darker;
        }

        & + .select-item {
            margin-top: 8px;
        }
    }
}

.content-tabs {
    padding-top: 7px;
    display: flex;
    border-bottom: 1px solid $dark;
    overflow: visible;
    height: 56px;

    .content-tabs__left {
        position: relative;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding-left: 16px;
        top: -2px;
    }

    .content-tabs__right {
        width: 186px;
        position: relative;
        bottom: -1px;
        z-index: 2;
        flex-shrink: 0;

        ion-segment-button {
            min-height: 48px;
            font-size: 15px;
            padding: 0;
        }
    }

    .content-tabs__title {
        font-size: 18px;
        font-weight: bold;
        font-family: $font-family-roboto-slab;
    }

    .content-tabs__icon {
        font-size: 22px;
        position: absolute;
        left: 93px;
        top: 15px;
        z-index: 2;

        &.search-active {
            left: 25px;
        }
    }
}

.toast-message {
    white-space: pre-wrap;
}
