<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Obj. #{{orderId}} - nevrácené
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-horizontal padding-bottom>
    <div *ngIf="!(notReturnedItems && orderItems)" class="spinner-wrapper">
        <ion-spinner></ion-spinner>
    </div>
    <ng-container *ngIf="notReturnedItems && orderItems">
        <div class="header-tabs-wrap" (click)="headerTabsClicked()" tappable >
            <ion-segment [(ngModel)]="mode" color="dark">
                <ion-segment-button value="real">
                    Položky
                </ion-segment-button>
                <ion-segment-button value="text">
                    Textově
                </ion-segment-button>
            </ion-segment>
        </div>
        <ng-container *ngIf="mode === 'real'">
            <div class="search-wrap">
                <ion-searchbar #searchInput [(ngModel)]="searchInputVal" (ionInput)="searchInputValChanged()" (ionFocus)="searchInputFocused()" placeholder="" mode="md"></ion-searchbar>
                <div *ngIf="showAutocomplete" class="autocomplete-wrap">
                    <div *ngIf="!autocompleteItems.length" class="autocomplete-empty-msg" text-center padding>Žádné položky</div>
                    <ion-list *ngIf="autocompleteItems.length" no-lines no-padding mode="ios">
                        <ion-item *ngFor="let item of autocompleteItems" (click)="autocompleteItemClicked(item)" tappable>
                            <ion-label text-wrap> <strong *ngIf="item.id !== undefined">{{item.id}}</strong>{{item.description}}</ion-label>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <ng-container *ngIf="!showAutocomplete">
                <div *ngIf="notReturnedItems.real.length === 0" class="empty-message">
                    <div margin-bottom> Žádné položky nejsou označené jako nevrácené. </div>
                    <button (click)="showAutocompleteClicked()" ion-button icon-only><ion-icon name="md-add"></ion-icon></button>
                </div>
                <div *ngIf="notReturnedItems.real.length">
                    <h4>Nevrácené položky</h4>
                    <ion-list no-lines mode="ios">
                        <ion-item *ngFor="let item of notReturnedItems.real">
                            <ion-label text-wrap> <strong *ngIf="item.id !== undefined">{{item.id}}</strong>{{item.name}}</ion-label>
                            <button (click)="removeItemClicked('real', item)" ion-button item-end icon-only clear><ion-icon name="md-close"></ion-icon></button>
                        </ion-item>
                    </ion-list>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="mode === 'text'">
            <div class="textarea-wrap">
                <textarea [(ngModel)]="textareaVal"></textarea>
                <button (click)="addTextItemClicked()" ion-button icon-only>
                    <ion-icon name="md-add"></ion-icon>
                </button>
            </div>
            <ion-list no-lines mode="ios">
                <ion-item *ngFor="let item of notReturnedItems.text">
                    <ion-label text-wrap> <strong *ngIf="item.id !== undefined">{{item.id}}</strong>{{item.name}}</ion-label>
                    <button (click)="removeItemClicked('text', item)" ion-button item-end icon-only clear><ion-icon name="md-close"></ion-icon></button>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>
</ion-content>
