page-not-returned {
    ion-title {
        padding-right: 0 !important;
        div {
            text-align: left !important;
        }
    }
    h4 {
        margin: 0 10px 8px 0;
    }
    .header-tabs-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 10px;
        width:100%;
    }
    .search-wrap {
        ion-searchbar {
            margin: 0px 5px 12px 0;
            padding: 0;
            .searchbar-input {
                padding-left: 30px !important;
                padding-right: 30px !important;
            }
            .searchbar-search-icon {
                left: 5px !important;
            }
            .searchbar-clear-icon {
                right: 5px !important;
            }
        }
        .autocomplete-wrap {
            margin-top: -10px;
            padding: 5px;
            border: 1px solid black;
            background: whitesmoke;
        }
    }
    ion-list {
        margin-bottom: 0!important;
        ion-item {
            border: 1px solid black!important;
            border-radius: 5px!important;
            margin-bottom: 5px!important;
            background-color: $white !important;
            color: $darker !important;
            .item-inner {
                padding-right: 0!important;
            }
            strong {
                margin-right: 6px!important;
            }
            button {
                margin: 0!important;
                height: 100%!important;
                width: 45px;
            }
        }
    }
    .spinner-wrapper,
    .empty-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 225px);
        button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            ion-icon {
                font-size: 30px;
            }
        }
    }
    .textarea-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
        height: 102px;
        textarea {
            padding: 8px;
            flex-grow: 1;
            height: 100px;
            border: 0;
        }
        button {
            margin: 0!important;
            border-radius: 0;
            height: 100%!important;
        }
    }
    .ios-scroll-fix {
        padding-bottom: 15px!important;
    }
}

body.dark{
    page-not-returned {
        .searchbar-input{
            background-color: $black;
        }
        .search-wrap {
            .autocomplete-wrap {
                background: $all-black;
            }
        }
        ion-list {
            ion-item {
                border: 1px solid $darker!important;
                background-color: $black !important;
                color: $white !important;
            }
        }


    }

}
