page-product-items {
    ion-item {
        border-top: 1px solid lightgray !important;
    }

    .item-content, ion-label {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .tags-wrap {
        display: flex;
        justify-content: flex-start;
        margin-top: 3px;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;

        .tag {
            margin-right: 7px;
        }
    }

    .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        padding: 1px 6px;
        font-size: 13px;
        border-radius: 5px;
        color: white;
        background: #5d5d5d;
        margin-bottom: 4px;

        &.blue {
            background: #4a8fe8;
        }

        &.green {
            background: #12b112;
        }

        &.darkgreen {
            background: green;
        }

        &.red {
            background: #bf2f40;
        }
    }

    .item-tags-end {
        margin-left: 10px;
        display: flex;
        align-items: center;

        .tag {
            width: 25px;
            font-size: 21px;
            margin-bottom: 0;
        }
    }
}

body.dark {
    page-product-items {
        ion-item {
            border-top: 1px solid $darker !important;
        }
        .tag {
            background: $darker;
        }
    }
}
