<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <span>Položky produktu</span>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-bottom>
    <h6 padding-horizontal text-center>{{ product.name }}</h6>
    <div *ngIf='product.items.length === 0' text-center margin-top>Žádné položky</div>
    <ion-list no-margin>
        <ion-item-sliding *ngFor="let item of product.items" class="item" no-lines no-padding>
            <ion-item>
                <div class="item-content">
                    <div class="name">#{{ item.id }}</div>
                    <div class="tags-wrap">
                        <div *ngIf="item.qrCode" class="tag darkgreen" margin-left>
                            {{ item.qrCode }}
                        </div>
                    </div>
                </div>
                <div *ngIf='item.status === OrderStatus.CONFLICT' class="item-tags-end">
                    <div class="tag red">
                        K
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="right" (ionSwipe)="onRemoveItemClicked(item)">
                <button ion-button color="danger" (click)="onRemoveItemClicked(item)">ZRUŠIT<br/>POLOŽKU</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
