.note-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: flex-end;
    z-index: 99;
    .note-editor {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        background-color: white;
        margin-top: auto;
    }
    .note-form-item {
        border-bottom: 1px solid $dark;
        display: flex;
        align-items: center;
        height: 58px;
        padding: 0 16px;
        background-color: $white;
        font-size: 15px;
        ion-datetime {
            position: relative;
            border: 1px solid $dark;
            border-radius: 3px;
            height: 40px;
            width: 210px;
            margin-left: auto;
            padding-right: 46px;
            color: $darker;
        }
        ion-select {
            position: relative;
            margin-left: auto;
            max-width: 50%;
            width: 50%;
        }
        .note-form-item__date-icon {
            font-size: 19px;
            position: absolute;
            right: 31px;
            color: $darker;
            pointer-events: none;
        }
        .note-form-item__label {
            position: relative;
            font-weight: bold;
            margin-right: 12px;
        }
    }
    .note-textarea {
        max-height: 140px;
        textarea {
            color: $darker;
            width: 100%;
            font-size: 16px;
            height: 140px;
            padding: 16px;
            margin: 0 !important;
            margin-right: 0 !important;
        }
        textarea::placeholder {
            color: $darker;
        }
    }
    .note-controls {
        display: flex;
        height: 56px;
        border-top: 1px solid $dark;
        > * {
            width: 50%;
            &:first-child {
                padding-left: 8px;
            }
        }
    }
    .note-nested-controls {
        display: flex;
        button {
            margin: 0;
            font-size: 22px;
            width: 50px;
            height: 56px;
        }
    }
    .note-close-button {
        position: absolute;
        right: 10px;
        top: -52px;
        border-radius: 50%;
        font-size: 15px;
        margin: 0;
        color: $darker;
    }
    .note-send-button {
        margin: 0;
        height: 56px;
        font-weight: bold;
    }
    .note-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 0 16px;
        margin-bottom: 16px;
    }
    .note-image {
        position: relative;
        margin-left: 12px;
        margin-top: 12px;
        width: 60px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .note-remove-image-button {
        position: absolute;
        z-index: 2;
        right: -9px;
        top: -15px;
        border-radius: 50%;
        margin: 0;
        width: 30px;
        height: 30px;
        font-size: 8px;
        ion-icon {
            background-color: $darker;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            padding: 5px;
        }
    }
}

body.dark{
    .note-overlay {
        .note-editor {
            background-color: $all-black;
        }
        .note-form-item {
            border-bottom: 1px solid $black;
            background-color: $all-black;
            ion-datetime {
                border: 1px solid $black;

                color: $dark;
            }
            .note-form-item__date-icon {
                color: $dark;
            }

        }
        .note-textarea {
            textarea {
                color: $white;
            }
            textarea::placeholder {
                color: $dark;
            }
        }
        .note-controls {
            border-top: 1px solid $black;
        }
        .note-close-button {
            color: $dark;
        }
        .note-remove-image-button {
            ion-icon {
                background-color: $dark;
            }
        }
    }

}
