<div class='note-overlay'>
    <div class='note-editor'>
        <button (click)='onCloseButtonClick()' ion-button icon-only color='medium' class='note-close-button'>
        <ion-icon name='md-close'></ion-icon>
    </button>
        <div class='note-form-item'>
            <div class='note-form-item__label'>Typ poznámky</div>
            <ion-select [(ngModel)]='noteType' placeholder="—" cancelText="Zrušit" [selectOptions]="selectOptions">
                <ion-option *ngFor="let noteType of noteTypes" [value]='noteType'>{{noteType.name}}</ion-option>
            </ion-select>
        </div>
        <div *ngIf="noteType && noteType.type == TIME_CHECK_NOTE_TYPE" class='note-form-item'>
            <div class='note-form-item__label'>Datum a čas</div>
            <ion-datetime [(ngModel)]='checkDate' displayFormat="DD.MM.YYYY H:mm"></ion-datetime>
            <fa-icon [icon]="FaIcons.faCalendarAlt" class='note-form-item__date-icon'></fa-icon>
        </div>
        <ion-textarea [(ngModel)]='textValue' class='note-textarea' placeholder="Napište poznámku">
        </ion-textarea>
        <div class='note-images'>
            <div *ngFor='let image of images' class='note-image'>
                <button (click)='onRemoveImageButtonClick()' ion-button icon-only clear color='white' class='note-remove-image-button'>
                <ion-icon name='md-close'></ion-icon>
            </button>
                <img [src]='image.previewUrl' />
            </div>
        </div>
        <div class='note-controls'>
            <div class='note-nested-controls'>
                <button (click)='onCameraButtonClick()' ion-button clear icon-only color='darker'>
                <fa-icon [icon]="FaIcons.faCamera"></fa-icon>
            </button>
                <button (click)='onGalleryButtonClick()' ion-button clear icon-only color='darker'>
                <fa-icon [icon]="FaIcons.faImage"></fa-icon>
            </button>
            </div>
            <button (click)='onSendClick()' ion-button full class='note-send-button'>Odeslat</button>
        </div>
    </div>
</div>
