<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>{{item.address}}</span>
                <span>Noční trezory</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='stock-item'>
        <div class='stock-detail__wrap'>
            <div class='stock-detail__item stock-detail__item--date'>
                <div class='stock-detail__label'>Datum</div>
                <ion-datetime [(ngModel)]='form.date' displayFormat="DDD DD.MM.YYYY H:mm" [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]' doneText='Hotovo' cancelText='Zrušit'></ion-datetime>
                <fa-icon [icon]="FaIcons.faCalendarAlt" class='stock-detail__date-icon'></fa-icon>
            </div>
            <div class='stock-detail__item'>
                <div class='stock-detail__label'>Cena (Kč)</div>
                <ion-input [(ngModel)]='form.price' type='number'></ion-input>
            </div>
            <div padding>
                <button (click)='onSubmitFormClick()' block ion-button no-margin color='primary'>Uložit</button>
            </div>
        </div>
    </div>
</ion-content>
