<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            BIOFILMS
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class='menu-buttons'>
        <button ion-button block text-wrap outline (click)="onStockClick()" class='menu-button-inventory'>Produkty a sklad</button>
        <button ion-button block text-wrap outline (click)="onCreateInventoryCheckClick()" class='menu-button-inventory-check'>Vytvořit inventuru</button>
        <button ion-button block text-wrap outline (click)="onRestockClick()" class='menu-button-inventory-restock'>Přeskladnění</button>
        <button ion-button block text-wrap outline (click)="onNightVaultClick()" class='menu-button-night-vault'>Noční trezory</button>
        <button ion-button block text-wrap outline (click)="onCreateOrderClick()" class='menu-button-create-order'>Vytvořit objednávku</button>
    </div>
</ion-content>
