home-menu-modal {
    ion-content button {
        margin-bottom: 10px!important;
    }
    .menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            height: 32vw;
            width: calc(50% - 8px);
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            background-size: 40px 32px;
            background-position: center 35%;
            background-repeat: no-repeat;
            padding-bottom: 20px;
            padding-left: 8px;
            padding-right: 8px;
            .button-inner {
                align-items: flex-end;
            }
        }
        .menu-button-item-detail {
            background-size: 40px 40px;
            background-image: url('../assets/imgs/menu-info.png');
        }
        .menu-button-inventory-check {
            background-size: 34px 45px;
            background-image: url('../assets/imgs/menu-inventory-check.png');
        }
        .menu-button-inventory-restock {
            background-size: 48px 48px;
            background-image: url('../assets/imgs/menu-inventory-restock.png');
        }
        .menu-button-inventory {
            background-size: 40px 31.63px;
            background-image: url('../assets/imgs/menu-inventory.png');
        }
        .menu-button-night-vault {
            background-size: 40px auto;
            background-image: url('../assets/imgs/menu-night-vault.png');
        }
        .menu-button-create-order {
            background-size: 40px auto;
            background-image: url('../assets/imgs/menu-create-order.png');
        }
    }
}
