<ng-container *ngIf='searchActive'>
    <div *ngIf='searchResult.length === 0' margin text-center>Žádné výsledky</div>
    <ng-container *ngFor="let product of searchResult">
        <ng-container *ngTemplateOutlet="itemTmpl; context:{product:product, isSearch:true}"></ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf='!searchActive'>
    <ng-container *ngFor="let product of _tree; let odd=odd">
        <ng-container *ngTemplateOutlet="itemTmpl; context:{product:product, odd:odd}"></ng-container>
        <div *ngIf='expanded.indexOf(product.id) > -1' class='nested-list' [class.odd]='odd'>
            <ng-container *ngFor='let sub1 of product.subproducts'>
                <ng-container *ngTemplateOutlet="itemTmpl; context:{product:sub1, odd:odd}"></ng-container>
                <div *ngIf='expanded.indexOf(sub1.id) > -1' class='nested-list' [class.odd]='odd'>
                    <ng-container *ngFor='let sub2 of sub1.subproducts'>
                        <ng-container *ngTemplateOutlet="itemTmpl; context:{product:sub2, odd:odd}"></ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
<ng-template #itemTmpl let-product='product' let-isSearch='isSearch' let-odd='odd'>
    <div (click)="onItemClick(product)" class="forscan-item" [class.odd]='odd'>
        <ion-item-sliding no-lines no-padding>
            <ion-item no-lines no-padding text-wrap>
                <div class="forscan-item__content">
                    <div class="forscan-item__left">
                        <ng-container *ngIf='!isSearch && product.subproducts.length'>
                            <fa-icon *ngIf="expanded.indexOf(product.id) === -1" [icon]="FaIcons.faChevronRight" class='forscan-item__icon'></fa-icon>
                            <fa-icon *ngIf="expanded.indexOf(product.id) > -1" [icon]="FaIcons.faChevronDown" class='forscan-item__icon'></fa-icon>
                        </ng-container>
                        <div class="forscan-item__name">{{product.name}}</div>
                    </div>
                    <div class='forscan-item__right'>
                        <div *ngIf='product.type === "product"' (click)='onShowItemsClick(product, $event)' class="forscan-item__counter">
                            {{ product.items.length }}x
                            <span *ngIf='getIsConflict(product.items)' class="red">
                                &nbsp;K
                            </span>
                        </div>

                    </div>
                </div>
            </ion-item>
            <ion-item-options (ionSwipe)="onRemoveProductClicked(product)" side="right">
                <button ion-button color="danger"  (click)="onRemoveProductClicked(product, $event)">
                <fa-icon [icon]="FaIcons.faBan" class='forscan-item__sliding-icon'></fa-icon>
            </button>
            </ion-item-options>
        </ion-item-sliding>
    </div>
</ng-template>
