tree-list {
    .nested-list {
        padding-left: 32px;
    }
    .nested-list.odd {
        background: $medium;
    }
}

body.dark{
    tree-list {
        .nested-list.odd {
            background: $all-black;
        }
    }

}
