page-order-log {
    .list-log {
        margin-top: 3px;
        .item-log {
            padding-top: 5px;
            padding-bottom: 5px;
            .item-inner {
                padding-right: 0 !important;
            }
            &:nth-child(even) {
                background-color: $medium;
            }
            ion-label {
                margin-right: 0 !important;
            }
        }
        .item-log__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .item-log__label {
            color: $darker;
            font-size: 16px;
            padding-right: 16px;
        }
    }
}

body.dark{
    page-order-log {
        .list-log {
            .item-log {
                &:nth-child(even) {
                    background-color: $black;
                }
            }
            .item-log__label {
                color: $dark;
            }
        }
    }

}
