<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{orderId}}</span>
                <span>Log objednávky</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf='!items' margin padding text-center>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf='items && items.length === 0' margin padding text-center>
        Žádné záznamy
    </div>
    <ion-list class='list-log' no-lines no-margin>
        <ion-item *ngFor='let item of items' class='item-log'>
            <ion-label text-wrap>
                <div class='item-log__title'>{{ item.date | date: 'E d.M.yyyy H:mm' | uppercase }} {{ item.username }}</div>
                <div class='item-log__label' text-wrap [innerHTML]='item.message'>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
