zoom-range {
    display: flex;
    align-items: center;

    .button {
        font-size: 16px !important;
        margin: 0 !important;

        &.button--zoom-in {
            padding-left: 3px;
            padding-right: 16px;
        }

        &.button--zoom-out {
            padding-left: 16px;
            padding-right: 3px;
        }
    }

    ion-range {
        flex: 1;

        .range-bar {
            top: 18px !important;
            border-radius: 2px !important;
        }

        .range-knob-handle {
            top: 19px !important;
        }
    }
}

body.dark {
    zoom-range {
        .button {

            &.button--zoom-in {
                color: $black;
            }

            &.button--zoom-out {
                color: $black;
            }
        }

        ion-range {
            .range-bar {
            }

            .range-knob-handle {
                .range-knob {
                    background: $black;
                }
            }
        }
    }
}
