<button (click)='zoomOut()' ion-button icon-only clear color='darker' class='button--zoom-out'>
    <fa-icon [icon]='FaIcons.faMinus'></fa-icon>
</button>
<ion-range [(ngModel)]="scannerSvc.currentZoom" min="0" max="100" (ionChange)='scannerSvc.updateNativeZoom()'>
</ion-range>
<button (click)='zoomIn()' ion-button icon-only clear color='darker' class='button--zoom-in'>
    <fa-icon [icon]='FaIcons.faPlus'></fa-icon>
</button>
