<ion-header>
    <ion-navbar>
        <ion-title>
            Hromadné naskenování QR
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <div class="top">
        <div class="scan-area">
            <focus-mode-toggle></focus-mode-toggle>
            <zoom-range></zoom-range>
            <ion-scroll direction="y" class="items" [class.list-details-visible]="listDetailsVisible">
                <div class="item" *ngFor="let item of itemList">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6 no-padding>
                                <div class="name">ID {{item.id}}</div>
                            </ion-col>
                            <ion-col col-6 no-padding>
                                <div class="scan-status-indicator" [ngClass]="item.qr ? 'scanned' : '' ">{{ item.qr }}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-scroll>
            <button *ngIf="listDetailsVisible" (click)="toggleStatusDetailsVisible()" class="list-details-hide-button" ion-button icon-only clear>
                <ion-icon name="arrow-dropdown-circle"></ion-icon>
            </button>
            <div (click)="toggleStatusDetailsVisible()" class="scan-status-preview" [class.list-details-visible]="listDetailsVisible">
                <div class="scan-status-preview-list">
                    <div *ngFor="let item of itemList" class="scan-status-indicator" [ngClass]="item.qr ? 'scanned' : '' ">{{ item.qr }}</div>
                </div>
            </div>
            <div *ngIf="blink" class="blink"></div>
        </div>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" [disabled]="!itemList || itemList.length == 0" (click)="onExitButtonClick()">
        UKONČIT SKENOVÁNÍ
    </button>
</ion-footer>
