page-stock-group-scan {
    div.scan-area {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border: solid black;
        border-width: 1px 0 0 0;
        overflow: hidden;
    }

    h1 {
        height: 46px;
        background-color: #ffffff;
        margin: 0px;
        font-size: 1.6rem;
        line-height: 46px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 15px;
    }

    .top {
        width: 100%;
        height: 100%;
    }

    .btnBottom {
        padding: 0px;
        margin: 0px;
        height: 7.2rem;
    }

    .item {
        margin: 0 10px;
        padding: 6px 0;

        .scan-status-indicator {
            margin-left: auto;
        }

        ion-col {
            display: flex;
            align-items: center;
            font-weight: 500;

            :last-child {
                justify-content: end;
            }
        }

        &:last-child {
            margin-bottom: 50px;
        }
    }

    .remove {
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 0;
        font-size: 20px;
    }

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .items {
        // display: none;
        position: absolute;
        top: 100%;
        left: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 24px);
        border: 1px solid black;
        border-width: 1px 1px 0 1px;
        background: white;
        transition: top 1s;

        &.list-details-visible {
            top: 24px;
            // display: block;
        }
    }

    .items .scroll-content {
        overflow-y: auto;
    }

    ion-footer {
        background-color: white;
    }

    ion-select {
        position: relative;
        border: 1px solid black;
        margin: 10px;
        max-width: 100%;
        background: white;

        .select-icon {
            margin-top: -2px !important;
        }

        .select-text {
            line-height: 20px;
        }
    }

    .scan-status-indicator {
        border: 1px solid black;
        min-width: 23px;
        padding: 0 3px;
        min-height: 23px;
        background-color: #bf2f40;
        color: white;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
        display: inline-block;

        &.scanned {
            background-color: rgb(0, 247, 0);
            color: black;
        }
    }

    .scan-status-preview {
        position: absolute;
        bottom: 0;
        left: 16px;
        width: calc(100% - 32px);
        border: 1px solid black;
        border-width: 1px 1px 0 1px;
        background: white;
        padding: 10px 16px 4px 16px;
        opacity: 1;
        transition: opacity 0.25s;
        z-index: 2;

        &.list-details-visible {
            opacity: 0;
            pointer-events: none;
        }

        .scan-status-preview-list {
            display: flex;
            flex-wrap: wrap;
            padding-top: 8px;

            .scan-status-indicator {
                margin: 0 12px 12px 0;
            }
        }
    }

    .list-details-hide-button {
        position: absolute;
        right: 20px;
        bottom: 4px;
        height: 50px;
        width: 50px;
        padding: 5px;
        margin: 0;
        z-index: 3;

        ion-icon {
            padding: 0;
            font-size: 4.9rem;
            background: white;
        }
    }

    focus-mode-toggle {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    zoom-range {
        bottom: 70px;
    }
}

body.dark {
    page-stock-group-scan {
        div.scan-area {
            border: solid $black
        }

        h1 {
            background-color: $all-black;
        }


        .items {
            border: 1px solid $black

        }

        ion-footer {
            background-color: $all-black;
        }

        ion-select {
            border: 1px solid $black;
        }


        .scan-status-preview {
            border: 1px solid $black;
            background: $all-black;




        }


    }

}
