<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Filtrovat a seřadit
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="content-top" padding-horizontal>
        <div class='form-item form-item--with-icon'>
            <ion-icon name='ios-search' color='black'></ion-icon>
            <ion-searchbar #search placeholder="Hledat"></ion-searchbar>
        </div>
    </div>
    <div class='content-tabs'>
        <div class='content-tabs__left'>
            <div class='content-tabs__title'>{{ filterService.filterSearch.active.title }}</div>
        </div>
        <div *ngIf='filterService[filterService.filterSearch.active.key].id !== undefined' class='content-tabs__right'>
            <button (click)='onClearFilterClick()' ion-button clear>Zrušit filtr</button>
        </div>
    </div>
    <div class="content-bottom" padding-bottom>
        <ion-list no-margin no-lines class='list-all'>
            <div *ngIf='!filteredItems' margin padding text-center>
                <ion-spinner></ion-spinner>
            </div>
            <div *ngIf="filteredItems && filteredItems.length === 0" class="empty-message" margin-vertical text-center>
                Žádné výsledky.
            </div>
            <ng-container *ngFor="let item of renderedItems; let odd = odd;">
                <div (click)="onItemClick(item)" class="forscan-item" [class.odd]='odd'>
                    <ion-item no-lines no-padding text-wrap>
                        <div class="forscan-item__content">
                            <div class="forscan-item__left">
                                <div class="forscan-item__name">
                                    <div>
                                        {{item.text}}
                                    </div>
                                    <div *ngIf='item.text2' class='forscan-item__name__subtitle'>
                                        {{item.text2}}
                                    </div>
                                    <div *ngIf='item.text2' class='forscan-item__name__subtitle'>
                                        {{item.text3}}
                                    </div>
                                </div>
                            </div>
                            <div class="forscan-item__right">
                                <fa-icon [icon]="FaIcons.faChevronRight" class='forscan-item__icon'></fa-icon>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ng-container>
        </ion-list>
    </div>
    <ion-infinite-scroll *ngIf='filteredItems?.length > renderedItems?.length' (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
