page-filter-search {
    .scroll-content {
        padding-bottom: calc(90px + env(safe-area-inset-bottom));
    }

    .content-top {
        background-color: $medium;
        padding: 16px 0;

        .selects {
            margin-bottom: 8px;
        }
    }

    .content-tabs__right {
        position: static;

        button {
            display: block;
            margin: 0;
            margin-left: auto;
            font-weight: bold;
        }
    }

    .forscan-item__name__subtitle {
        font-size: 12px;
    }
}

body.dark {
    page-filter-search {
        .content-top {
            background-color: $black;
        }
    }
}
