<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Nová inventura</span>
                <span>Potvrzení vstupních hodnot</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngFor="let item of inventory.selectedProducts" class="confirm-item">
        <div (click)="toggleItemOpen(item)" class="confirm-item-main">
            <div class="confirm-item-label">
                <strong>{{item.name}}</strong>
                <span>{{inventory.scannedItems[item.productId].length}} položek</span>
            </div>
            <ion-icon [name]="openedItems.indexOf(item) >- 1 ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
        </div>
        <div *ngIf="openedItems.indexOf(item) >- 1" class="confirm-item-openable">
            <span *ngFor="let code of inventory.scannedItems[item.productId]">{{code}}</span>
        </div>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" (click)="onContinueClick()">
                Pokračovat
            </button>
</ion-footer>
