page-inventory-confirm {
  .confirm-item {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 12px;
    .confirm-item-main {
      display: flex;
      .confirm-item-label {
        flex: 1;
        padding-right: 16px;
        > * {
          display: block;
        }
        strong {
          margin-bottom: 5px;
          font-weight: 500;
        }
      }
      ion-icon {
        flex: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.1rem;
      }
    }
    .confirm-item-openable {
      padding: 20px 0 8px;
      span {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 4px;
      }
    }
  }
}
