<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Nová inventura</span>
                <span>Vyberte produkt</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-bottom>
    <div class="search-wrap">
        <ion-searchbar #searchInput [(ngModel)]="searchInputVal" (ionInput)="searchInputValChanged()" (ionFocus)="searchInputFocused()" placeholder="Hledejte produkt..." mode="md"></ion-searchbar>
        <div *ngIf="showAutocomplete" class="autocomplete-wrap">
            <div *ngIf="!autocompleteItems.length" class="autocomplete-empty-msg" text-center padding>Žádné položky</div>
            <ion-list *ngIf="autocompleteItems.length" no-lines no-padding mode="ios">
                <ion-item *ngFor="let item of autocompleteItems" (click)="autocompleteItemClicked(item)" tappable>
                    <ion-label text-wrap>{{item.name}}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ng-container *ngIf="!showAutocomplete">
        <ion-list no-lines mode="ios">
            <ion-item *ngFor="let item of inventory.selectedProducts">
                <ion-label text-wrap>{{item.name}}</ion-label>
                <button (click)="removeItemClicked(item)" ion-button item-end icon-only clear><ion-icon name="md-close"></ion-icon></button>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" [disabled]="inventory.selectedProducts.length === 0" (click)="onContinueClick()">
            Pokračovat ({{ inventory.selectedProducts.length }})
        </button>
</ion-footer>
