<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            Správa skladových položek
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <camera-controls></camera-controls>
    <div class="content-main">
        <div class="scan-area"></div>
        <div *ngIf="blink" class="blink"></div>
    </div>
</ion-content>
