.toolbar-ios {
    &--padding {
        padding: 0 80px 1px !important;
    }
}

.wiki {
    &__textarea {
        border: 1px solid $dark;
        padding: 1rem;
    }

    input[type="file"] {
        background-color: $dark;
        padding: 1rem;
        width: 100%;
    }
}

body.dark{
    .wiki {
        &__textarea {
            border: 1px solid $all-black;
        }

        input[type="file"] {
            background-color: $all-black;
        }
    }

}
