<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title class="toolbar-ios--padding">
            {{ title }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class='stock-item'>
        <div class='stock-detail__wrap'>
            <div padding class='stock-detail__item stock-detail__item--new-item'>
                <div class='stock-detail__label stock-detail__label--margin'>Přidat přílohu</div>
                    <div class="stock-detail__item-wrapp">
                        <label class="wiki__label">
                            <button class="wiki__file-btn" block ion-button no-margin color='primary'>Přidat
                                <input class="wiki__file-input" type="file" accept="image/jpeg" (change)="getFilesOnButtonClick($event)" multiple>
                            </button>
                            <div class="wiki__file-list-wrapper">
                                <div *ngFor="let file of files">
                                    <div class="wiki__file-name">{{ file.name }}</div>
                                </div>
                            </div>
                        </label>
                    </div>
            </div>
            <div class='stock-detail__item stock-detail__item--height stock-detail__item--new-item'>
                <div class='stock-detail__label'>Napsat poznámku</div>
                <ion-textarea [(ngModel)]="text"></ion-textarea>
            </div>
            <div padding>
                <button (click)='onSumbitButtonClick()' block ion-button no-margin color='primary'>Uložit záznam</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="images && images.length > 0" class='wiki'>
        <ng-container *ngFor="let imgPath of images" class="wiki__images-wrapper">
            <img [src]="imgPath" class="wiki__images wiki__images--editation"/>
        </ng-container>
    </ng-container>
</ion-content>
