<ion-header>
    <ion-navbar class="toolbar-ios--bordered">
        <back-button></back-button>
        <ion-title>
            <div>
                <span>Zadání aktivity</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="stock-item">
        <div class="stock-detail__wrap">
            <div class="stock-detail__item">
                <div class="stock-detail__label">Aktivita</div>
                <ion-select
                    [(ngModel)]="form.eventId"
                    placeholder="—"
                    cancelText="Zrušit"
                    [selectOptions]="selectOptions"
                >
                    <ion-option value="">Zadat vlastní</ion-option>
                    <ion-option *ngFor="let id of customEventIds" [value]="id"
                        >{{customEvents[id]}}</ion-option
                    >
                </ion-select>
            </div>
            <div *ngIf="!form.eventId" class="stock-detail__item">
                <div class="stock-detail__label">Název aktivity</div>
                <ion-input [(ngModel)]="form.eventName"></ion-input>
            </div>
            <div class="stock-detail__item">
                <div class="stock-detail__label">Počet položkominut</div>
                <ion-input [(ngModel)]="form.pMin" type="number"></ion-input>
            </div>
            <div class="stock-detail__item stock-detail__item--date">
                <div class="stock-detail__label">Datum a čas</div>
                <ion-datetime
                    [(ngModel)]="form.datetime"
                    displayFormat="DDD DD.MM.YYYY H:mm"
                    [dayShortNames]='["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]'
                    doneText="Hotovo"
                    cancelText="Zrušit"
                ></ion-datetime>
                <fa-icon
                    [icon]="FaIcons.faCalendarAlt"
                    class="stock-detail__date-icon"
                ></fa-icon>
            </div>
            <div class="stock-detail__item stock-detail__item--textarea">
                <div class="stock-detail__label">Poznámka</div>
                <ion-textarea [(ngModel)]="form.message" rows="4">
                </ion-textarea>
            </div>
            <div padding>
                <button
                    (click)="onSubmitFormClick()"
                    block
                    ion-button
                    no-margin
                    color="primary"
                    [disabled]="(!form.eventId && !form.eventName) || !form.message || !form.pMin"
                >
                    Uložit aktivitu
                </button>
            </div>
        </div>
    </div>
</ion-content>
