<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Objednávka #{{ orderId }}</span>
                <span>přesun kódu mezi objednávkami</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='input-type-toggle'>
        <span>Skenovat obj.</span>
        <ion-toggle [(ngModel)]='manualInputEnabled'></ion-toggle>
        <span>Zadat číslo obj.</span>
    </div>
    <div class="scan-area">
        <div *ngIf="blink" class="blink"></div>
        <focus-mode-toggle *ngIf='!manualInputEnabled'></focus-mode-toggle>
        <zoom-range></zoom-range>
        <div [style.visibility]='manualInputEnabled ? "visible" : "hidden"' class='manual-input'>
            <ion-input #manualInput type='tel'></ion-input>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf='manualInputEnabled' no-shadow>
    <button (click)="onContinueClick(manualInput.value)" [disabled]='!manualInput.value || loading' ion-button no-margin full color="primary" class="btnBottom">
        Potvrdit
    </button>
</ion-footer>
