page-transfer-codes-scan {
    .input-type-toggle {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 5px 0;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        background: white;
        border-bottom: 1px solid black;
        ion-toggle {
            margin: 0 24px;
        }
    }
    .scan-area {
        height: 100%;
    }
    .manual-input {
        background: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-input {
            position: relative;
            border: 1px solid black;
            max-width: 200px;
            input {
                text-align: center;
                margin-right: 0;
            }
        }
    }
    focus-mode-toggle {
        position: absolute;
        top: 50px;
        right: 6px;
    }
    ion-footer {
        button {
            height: 5.5rem!important;
        }
    }
    .scroll-content{
        padding-bottom: 0!important;
    }
}
