<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Inventura #{{ inventoryCheckId }}</span>
                <span>{{ inventoryCheckDate | date:'E d.M.yyyy' | uppercase}}</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-bottom>
    <ion-select [(ngModel)]="selectedProduct" mode="ios" css>
        <ion-option value="">Všechny produkty ({{ inventory.selectedProducts.length }})</ion-option>
        <ion-option *ngFor="let product of inventory.selectedProducts" [value]="product.productId">{{ product.name }}</ion-option>
    </ion-select>
    <div class="result-wrap" padding-horizontal>
        <div (click)="showScannedDetail()" class="result-block">
            <div class="result-block-title">Celkem naskenováno</div>
            <div class="result-block-bottom">
                <div class="result-block-value">{{ getScannedTotal() }}</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
        <div (click)="showLentDetail()" class="result-block">
            <div class="result-block-title">Celkem vypůjčeno</div>
            <div class="result-block-bottom">
                <div class="result-block-value">{{ getLentTotal() }}</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
        <div (click)="showExpectedDetail()" class="result-block">
            <div class="result-block-title">Očekávaný počet</div>
            <div class="result-block-bottom">
                <div class="result-block-value">{{ getExpectedTotal() }}</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
        <div (click)="showNotReturnedDetail()" class="result-block">
            <div class="result-block-title">Chybí - nevrácené</div>
            <div class="result-block-bottom">
                <div class="result-block-value">{{ getNotReturnedTotal() }}</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
        <div (click)="showMissingDetail()" class="result-block">
            <div class="result-block-title">Chybí</div>
            <div class="result-block-bottom">
                <div class="result-block-value warning">{{ getMissingTotal() }}</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer no-shadow>
    <button ion-button block color="primary" class="btnBottom" (click)="onContinueClick()">Zavřít</button>
</ion-footer>
