page-inventory-result {
  ion-select {
    position: relative;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 16px 18px 14px 16px !important;
    max-width: 100%;
    background: white;
    .select-icon {
      margin-top: -2px !important;
    }
    .select-text {
      line-height: 20px;
      font-weight: 500;
    }
  }
  .result-wrap {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .result-block {
      padding: 14px 10px 12px;
      margin-bottom: 10px;
      flex: 0 0 49%;
      border: 1px solid black;
      .result-block-title {
        margin-bottom: 6px;
      }
      .result-block-bottom {
        display: flex;
        justify-content: space-between;
        opacity: 0.6;
        .result-block-value {
          font-size: 52px;
          line-height: 58px;
          &.warning {
            color: #bf2f40;
          }
        }
        ion-icon {
          font-size: 48px;
          line-height: 58px;
        }
      }
    }
  }
}

body.dark{
    page-inventory-result {
        ion-select {
            border-bottom: 1px solid $black;
            background: $all-black;

        }

    }

}
