page-inventory-result-modal {
    background: white;

    h4 {
        margin-bottom: 20px;
    }

    .products-list {
        .product-item {
            margin: 6px 0;
            display: flex;

            strong {
                flex: 0 0 55px;
            }

            span {
                flex: 1 0 0;
                padding-left: 5px;
            }
        }
    }
}

body.dark {
    page-inventory-result-modal {
        background: $all-black;
    }

}
