<ion-header>
    <ion-navbar class='toolbar-ios--bordered'>
        <back-button></back-button>
        <ion-title>
            <div class="two-line-title">
                <span>Inventura #{{ inventoryCheckId }}</span>
                <span>{{ inventoryCheckDate | date:'E d.M.yyyy'| uppercase}}</span>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h4>{{ title }}</h4>
    <div class="products-list">
        <div *ngFor="let product of products" class="product-item">
            <strong>{{ product.qr || "---" }}</strong>
            <span>{{ product.name || "Neznámá položka" }}</span>
        </div>
    </div>
</ion-content>
